@import "tabs.css";
@import "react-datepicker.css";

html {
    font-family: 'Museosansrounded', sans-serif;
    font-size: 12px;
}

.editor	{
    font-family: 'Museosansrounded', sans-serif;
}

/* reusable */

.google-button {
    background-color: #ffffff;
    color: #4c5359;
    outline: none;
    display: flex;
    align-items: center;
    padding: 4px;
    width: 18rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #8993a1;
    font-size: 1.25rem;
    font-family: 'Museosansrounded', sans-serif;
    font-weight: 400;
    text-align: center;
    border-radius: 10rem;
}
.google-button:hover {
    background-color: #f0f1f2;
}

.google-button div:nth-child(1) { /* google icon */
    margin-right: 1.5rem;
}

.google-button .google-classroom-img {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAABzZJREFUWEfFl1tslNcRx39zvsvevV6w12tCzRJcSBBpSUxDGoEio6gPFUqlSkkUlAeqRqn6UCV96lMEUaRWfWp4TNUKpKpGon1pRVupSkEqKGkKBNogLo2pL7ngC2a99u56/V3O9GFtYjs2gqpK/9J5+L4zZ+Z/zsyZOSOsAT2MYTsizxEDDJ0ul8pmch+O3QPyKGo2A4UF8Qpih0AvEpuzw7bz1Ob+4TEAPYHDFVQOY1ezI6v91NO40k8EMHu6a0fWrb2Kmm/ZRKbjelzg0lyewUaaSuQBUHBDetMNdqaqbHMqmKA+Cfb3tSj7Zq5//PJKnUvxOQKLgn1vveydf+j4Gxh9ZcwrJo9OlTk5022Ho1w8Z40RwaAL6wVVJE5JrGV31tnfdtN8Z/0wpWCiicqRXddeeO3C934erkZiGYFFgcm3H9jakZgZIJPte/3jhzlW7Q0r6pu0RCYpsTgoqyFGaKqjDXVtwQT2YNugd2jjVajXLtyabzvQ+fQn/1pJ4g6BxYnxU8WvFr3Gn0edUvHAyO7gclBw253A+MRYBLu61+7AoBiUAIfp2Lc7/Eo0sOk9vycem5gI09/o2jfxj6UkZKnx1s6rZ97XnuKzo08GNev57SYgQu6c9r1CUFyUaeuTNWHwm553/MdkdOLWfH7v0pMwehiz6POOxMzAqFMqPjv6ZNBU18+bgHCJq+8HihBiyJuAprr+s6NPBqNOqdiRmBnoe+tlT/qJ9DDGsL2l/fxDx98gk+07MLI7qFnPz0pIiFnTgACuGFwxd6UXYshISM16/oGR3QGZbN/5h46/AcB2RGDxqtXPvV55PPmzynbb5cyZuxsXrFpmwyYAOS+JEYOuEZwAHpbxOGV/WLhiDrX/vVmLM1/L9Y9fNgBZt/bqmFdMHqv2hu0mMNFd9iQIoY0QEfb39LG/pw8jC//usi5CaDeBOTbTG475xWTWrb0KYCZOl0tgnjk6VaaivvEl/pzPZcmwavGMw092vcixp17h2FOv8ONdL+IZB6t2mexSLYrgS0zF+uboVBkwz0ycLpdMp5ncZ/1M58lqt01LZFZeM6tKZC2hjTFimA2b7C1t5/kte2mETRphk+e37GVvaTuzYRNHDJG1raHLs69FSEtkTla7rfUznZ1mcp/BsXuuxwWG41yclFiWErCqpFyf3nyJnmwHrXBb6mdd9i0La9Ync2xt38D6RA6rn81bhKTEMhzn4utxARy7x6Dy2KVGnjlrzNIMpwqOCFvautiQXcfmfBfFdJ60m+DM2FVO3DhD2k+T9tOcuHGWM2NXSbsJUq7P1vZuSpl2vtzeTc5LEutn23JQ5qwxlxp5QB51wZQH59KIrAx7RcSQcDysKkYE37i4C77+0blf8bvRcyjKO+PXAME1Bm9BJrKtWPGMi6ouCwgRzOBcGhJmswsUKpHHysgzIsTWMjI7yZdyHQRxxFhjmkY0j1Ul6yb528R1BCHh+MwEDSKNUeDT+m0KiSxTzVmqQQPXrKgeiixU0oLLGrCqxGq51ZyhHjaJ1TIdNHik0MO3y0/wWMcWNqbX4RiHW80Zrk1/zB8+usBfPv2AG9Vxsl6VuTggWgheI6tfUReoFNywC0FZrA0LR96dWc/6ZA7fuDTjkH3dj/DS1qfJp3JgFWtjADak1/GVjgd57sE9nPzoPEc/PEWsMSDMBA0+rd+mGYefkRC04IYCVFzEDvWmGl16Gws4i8w25YpsyBRQYC6aZ0ehhx88/E1EhEpjBiOCSCv1qIJFcUTYX36caljnxPA7ZN0EWS9Bm5/iWuUT5uMQBFSxvamGg9ghF/TiznT1iZSx1iKOquI7LsV0/o6BWJVN2U78ZAIipeD6fA4CxBYMbGt7AEcEQbBY2hMZ2vw0Y40KRlxSxtqd6aqD1YsusTm7zat8v+zMOkNxTlMSilVlYq6KJ60DacYhH9we4Y//Pse8DVkr5Vq1pN0E/6yMcLtZo27msbTc2YwDXIEmRsvOrLPNqUBozrqTtvNU5/zUrf35mx0/nWqPsxI6obXcmB5btrsb1Zv8dujdVQ0vEUNpVUnfeMvnRPBFuG1du79w0zFBfXLYdp5qBd2ZzC/GvK7vfv3Dp0MFzxG7Rj1Yu9gsRSs/Lq+MghKrQYTw3d63vVI4/kvZW3/JANSi7JulcKJ5MD/oTVvfuquUVaUVaPcyVivLC68je7Bt0CuFE81alH0TwOgJnFz/+GWsHDm08So7/Eo0bX1c7Cpq7h8KuFimrc8OvxId2ngVrBzJ9Y9f1hM4histO7uuvfAa9dqFgU3v+VkTBnX18FfvJe4LHpa6emRNGAxses+nXruw69oLrwFwBW3FwMID8ZM/bdi2ITvz1y/yUXpH6//1Wb6I5Scx++svtDFZxH/dmik2Zaxd1pqFE03sfbRmK0nAGs1pI8/g3IrmNNVgZ/p/0Jwu4r7bc+wwou8Tm7OTtvNU8R7b8/8Ad3sVSw8N538AAAAASUVORK5CYII=');
    width: 32px;
    height: 32px;
}

.google-button:hover {
    text-decoration: none;
}
.google-button:active {
    text-decoration: none;
}

.google-button span:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.google-button span span:nth-of-type(1) {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.14;
    color: #4c5359;
    text-align: left;
    margin-bottom: 0.2rem;
}

.google-button span span:nth-of-type(2) {
    font-size: 1.3rem;
    line-height: 1.14;
    color: #4c5359;
    text-align: left;
}

.vcenter {
   display: flex;
   align-items: center;
   justify-content: center;
}

.seletected-fade-out {
   animation: fade 2s 6s forwards; // TODO not work with FF
   background-color: #dddddd !important;
}

@keyframes fade {
    from {background-color:#dddddd;}
    to {background-color:rgba(242, 245, 169, 0);}
}

/* reusable  end */

.classroom {
    font-family: 'Museosansrounded', sans-serif;
    font-size: 16px;
}

.classrroom button:focus {
    outline: 0;
}

.classroom .blue-text {
    color: rgb(8, 209, 255)
}

.classroom .gray-text {
    color: #ababab;
}

.classroom .deep-gray-text {
    color: #717171;
}

.classroom .red-text {
    color: red;
}

.classroom .yellow-text {
    color: #ff9400;
}

.classroom .green-text {
    color: #7eb530;
}

.classroom .title {
    font-size: 2rem;
}

.classroom .small-text {
    font-size: 1.5rem;
}

.classroom .blue-title {
    font-size: 2rem;
    color: rgb(8, 209, 255);
}

.classroom .blue-on-hover:hover {
    color: #1caff6;
}


.classroom .pointer {
    cursor: pointer;
}

.classroom .float-right {
    float: right;
}

.classroom .text-align-center {
    text-align: center;
}

.classroom .pib-link {
    color: rgb(8, 209, 255);
    cursor: pointer;
    text-decoration: underline;
}

.classroom .gray-link {
    color: #d8d8d8;
    cursor: pointer;
}

/*!* tabs *!*/

/*.classroom .tabs {*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*padding: 0 2rem 0 2rem;*/
    /*font-weight: lighter;*/
/*}*/

/*.classroom .tab-link{*/
    /*font-size: 16px;*/
    /*font-weight: lighter !important;*/
    /*outline:0;*/
/*}*/

/*.classroom .tabs .tab-link {*/
    /*padding: 0 3rem;*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*height: 40px;*/
    /*line-height: 41px;*/
    /*top: 3px;*/
    /*left: -1px;*/
    /*border-bottom: solid #d8d8d8;*/
    /*color: rgb(216, 216, 216);*/
    /*transition: color 500ms, border-bottom 500ms;*/
/*}*/

/*.classroom .tabs .tab-link:hover {*/
    /*border-bottom: solid #1caff6;*/
    /*color: #1caff6;*/
/*}*/

/*.classroom .tabs .tab-link-active {*/
    /*border-bottom: 3px solid #1caff6;*/
    /*color: #1caff6;*/
/*}*/

/*.classroom .tabs .tab-links {*/
    /*border-bottom: solid #d8d8d8;*/
/*}*/

.classroom .pop-up-window {
    border-radius: 15px;
    padding: 10px 10px;
    margin: 1rem 0px 1rem 0px;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
}

.basic-card {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    margin: 0 1rem 1rem 0;
    float: left;
    position: relative;
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    vertical-align: top;
}

.lesson-card {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0);
    margin: 10px 20px 10px 10px;
    padding: 0px;
    display: inline-block;
    width: 150px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    color: #666666;
    box-shadow: 0px 0px 10px #BBB;
    transition: color 500ms, box-shadow 500ms, border-color 500ms;
}

.lesson-card div:nth-of-type(2) {
    padding: .8rem;
    font-family: 'Museosansrounded', sans-serif;
    font-size: 1.2rem;
    height: 4rem;
    font-weight: 500;
}

.lesson-card:hover {
    border-style: solid;
    border-color: #1caff6;
}

/* student-card */

.classroom .student-card {
    /* todo move elements with this class to basic card */
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    margin: 0 1rem 1rem 0;
    float: left;
    position: relative;
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    vertical-align: top;

    width: 45rem;
    height: 10rem;

}

/* classroom card*/

.classroom .classroom-card {
    /* todo move elements with this class to basic card */
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    margin: 0 1rem 1rem 0;
    float: left;
    position: relative;
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    vertical-align: top;

    width: 30rem;
    height: 25rem;
}

.classroom .create-classroom-button {
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    border-width: 1px;
    border-style: dashed;
    color: rgb(216, 216, 216);
    font-size: 2rem;
    cursor: pointer;
    padding-top: 1rem;
    margin-top: 1rem;
    transition: border-color 500ms, border-style 500ms, color 500ms, background 500ms;

    width: 30rem;
    height: 25rem;
}

.classroom .create-classroom-button:hover {
    border-style: solid;
    border-color: #1caff6;
    color: #1caff6;
    box-shadow: 0 0 15px #d8d8d8;
    background: #fbfbfb;
}

.classroom .join-another-classroom {
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    border-width: 1px;
    border-style: dashed;
    width: auto;
    height: 5rem;
    color: rgb(216, 216, 216);
    font-size: 18px;
    cursor: pointer;
    margin: 2rem 15px 2rem 15px;
    transition: border-color 500ms, border-style 500ms, color 500ms, background 500ms;
}

.classroom .join-another-classroom:hover {
    border-style: solid;
    border-color: #1caff6;
    color: #1caff6;
    box-shadow: 0 0 15px #d8d8d8;
    background: #fbfbfb;
}


.classroom  .gray-background-info-panel {
    border-radius: 15px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    margin: 3rem;
    padding: 2rem;
}

.classroom .classroom-card > div:nth-of-type(1) {
    font-size: 18px;
    color: #1caff6;
    cursor: pointer;
}

.classroom  .classroom-card > div:nth-of-type(2) {
    font-size: 16px;
    color: #666666;
}

.classroom .classroom-card > div:nth-of-type(4) {
    font-size: 16px;
    color: rgb(121, 121, 121);
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #efefef;
    overflow: hidden;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    height: 30px;
    line-height: 30px;
}

/* classroom card*/

.classroom .curriculum-card {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    margin: 0 1rem 1rem 0;
    padding: 2rem;
    vertical-align: top;
    cursor: pointer;
    min-height: 7rem;
}

.classroom .curriculum-card:hover {
    border-color: #1caff6;
}

.classroom .selected-curriculum-card {
    background-color: rgba(8, 209, 255, 0.35);
}

.classroom .create-curriculum-button {
    text-align: center;
    vertical-align: middle;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    border-width: 1px;
    border-style: dashed;
    /*width: 50rem;*/
    /*height: 30rem;*/
    color: rgb(216, 216, 216);
}

.classroom .classroom-common-button{
    background-color: rgb(8, 209, 255);
    border-radius: 2rem;
    border-width: 1px;
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    margin: 1rem 0 1rem 0;
}

/* student-classroom-row */

.classroom .student-classroom-row {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    margin: 1rem 0 1rem 0;
    padding: 2rem;
    vertical-align: top;
    min-height: 7rem;
}

.classroom .google-classroom-row {
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 1rem #d8d8d8;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    vertical-align: top;
    min-height: 3rem;
}


.classroom .disabled-button {
    background-color: rgb(216, 216, 216);
}

.classroom .assignment-teacher-card {
    border-radius: 15px;
    background-color: rgb(247, 247, 247);
    padding: 1rem 0 1rem 0;
    margin: 1rem 0 1rem 0;
}

.red-missed-box {
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 1rem 0 0;
    color: #dd381d;
    background: #f9d4cd;
}

.yellow-delayed-box{
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 1rem 0 0;
    color: #ff9400;
    background: #ffeed6;
}

.green-completed-box {
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 1rem 0 0;
    color: #7eb530;
    background: #dff0c6;
}

label {
    font-weight: 300;
}

.back-button {
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #d8d8d8;
    transition: color 300ms;
}

.back-button:hover {
    text-decoration: none;
    color: #1caff6;
}

.section-sheet {
    padding: 0px;
}

#all-assignments {
    textAlign: left;
    padding: 10px 0 0 0;
}

@media all and (max-width: 770px) {  /*iPad, Nexus 6P, iPhone 6+, Nexus 5X optimization*/
    .section-sheet {
        padding: 5px;
    }

    .classroom .tabs {
        padding: 0;
    }

    .classroom .pop-up-window {
        padding: 5px 10px;
    }

    .classroom .tabs .tab-links {
        margin-bottom: 10px;
        padding-top: 10px;
    }

    .classroom .tabs .tab-link {
        padding: 0px 1.5rem;
    }

    .classroom .student-classroom-row{
        margin: 10px 0 0 0;
        padding: 1rem;
    }

    .classroom google-classroom-row{
        margin: 10px 0 0 0;
        padding: 0.2rem;
    }

    .classroom .classroom-card {
        width: 100%;
    }

    #all-assignments {
        padding: 0;
    }
}

/* like editor */

.classroom .editable-label:not(.empty) + .glyphicon-pencil{ display:none; }
.classroom .editable-label:hover + .glyphicon-pencil{ display:inline; }
/*.classroom .editable-label:hover, .editor .mq-editable-label:hover{ cursor:pointer; }*/

/*react-dropdown-tree-select styles */

.tag{background-color:#f4f4f4;border:1px solid #e9e9e9;padding:2px 0 2px 2px;border-radius:2px;display:inline-block}.tag-remove{color:#a0a0a0;font-size:75%;line-height:100%;cursor:pointer;background-color:transparent;border:none;outline:none}
.node>label{cursor:pointer;margin-left:2px}.tag-list{display:inline;padding:0;margin:0}.tag-item{display:inline-block;margin:4px}.tag-item .search{border:none;border-bottom:1px solid #ccc;outline:none}.tag-item:last-child{margin-right:4px}
.node{list-style:none;white-space:nowrap;padding:4px}.node.leaf.collapsed{display:none}.node.disabled>*{color:gray;cursor:not-allowed}.node.match-in-children.hide .node-label{opacity:.5}.toggle{white-space:pre;margin-right:4px}.toggle:after{content:" "}.toggle.collapsed:after{cursor:pointer;content:"+"}.toggle.expanded:after{cursor:pointer;content:"-"}.searchModeOn .toggle{display:none}.checkbox-item{vertical-align:middle;margin:0 4px 0 0}.checkbox-item.simple-select{display:none}
.hide:not(.match-in-children){display:none}.react-dropdown-tree-select .dropdown{position:relative;display:table}.react-dropdown-tree-select .dropdown .dropdown-trigger{padding:4px;line-height:20px;max-height:200px;display:inline-block;overflow:auto;border:1px solid #b9b9b9}.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow{cursor:pointer}.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom:after{content:"\25BC";vertical-align:middle;color:#3c3c3c;margin-right:2px}.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top:after{content:"\25B2";vertical-align:middle;color:#3c3c3c;margin-right:2px}.react-dropdown-tree-select .dropdown .dropdown-content{position:absolute;padding:4px;z-index:999;background:#fff;border-top:1px solid rgba(0,0,0,.05);-webkit-box-shadow:0 5px 8px rgba(0,0,0,.15);box-shadow:0 5px 8px rgba(0,0,0,.15)}.react-dropdown-tree-select .dropdown .dropdown-content ul{margin:0;padding:0}