{% extends "navbar.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block ExtraHead %}
<link rel="stylesheet" type="text/css" href="{% static 'curricula/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'curricula/pure-checkbox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'curricula/mathquill-0.10.1/mathquill.css' %}"/>
<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'curricula/mathquill-0.10.1/mathquill.js' %}"></script>
<script type="text/javascript" src="{% static 'curricula/Fabric/fabric.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="react-app"></div>
    {% render_bundle 'curriculum' %}
</div>
{% endblock %}
