{% load static %}
{% load auth_tags %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'curricula/navbar.css' %}" />

    {# Mathjac#}
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    {# JQuery #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    {# Bootstrap CSS #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {# Bootstrap JS #}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% block ExtraHead %} {% endblock %}

</head>


<nav id="navTopOfScreen" class="navbar navbar-default navbar-static-top"><!-- navbar-fixed-top -->
    <div class="container-fluid">
        <div class="navbar-header">
            {# Physics is Beautiful logo #}
            <a class="navbar-brand" href="/">
				<span class="nb-drop-level-1">
					Physics is
				</span>
                <span style="white-space: nowrap;">
					<span class="nb-drop-level-1"> beauti</span>\(\!\int\!\)<span class="nb-drop-level-1">ul.</span>
				</span>
            </a>
            {# Toggle which appears only on small screens/mobile with three icon-bar lines #}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        {# Options which are displayed inline on the bar on desktop, or in the toggle menu for mobile #}
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <p id="navbarUserName" class="navbar-text">
		    {{ user.first_name }} {{ user.last_name }}
                    </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'curricula:curriculum' %}">Dashboard</a>
                </li>
                <li class="nav-item">
		    {% if user.is_authenticated %}
			<a id="logout-action" href="#">Logout</a>
		    {% else %}
			<a data-toggle="modal" data-target="#signup-modal">Login / Signup</a>
		    {% endif %}
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% auth_modal user request.get_full_path %}

{% block content %} {% endblock %}
