{% extends "curricula/navbar.html" %}
{% load static %}

{% block ExtraHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'curricula/problem_page_base.css' %}" />
    {% block ExtraExtraHead %} {% endblock  %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <div class ="bounding-box" >
                {% block LHS %}
                {% endblock LHS %}
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class ="bounding-box" >
                {% block RHS %}
                {% endblock RHS %}
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="checkMarks">
            <span id="incorrect" class="glyphicon glyphicon-remove-sign pull-right"></span>
            <span id="correct" class="glyphicon glyphicon-ok-sign pull-right"></span>
        </div>
        <div id="checkContainer">
            <button id="checkButton" type="button" >
                Continue
            </button>
        </div>

        <div id="blockRight">
            <div id="correctMessage"></div>
            <div id="modalContainer">
                <button id="modal" type="button" data-toggle="modal" data-target="#myModal">
                    Discuss
                </button>
                <!-- Modal -->
                <div  class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button 		  type="button" class="close" data-dismiss="modal">
                                    &times;
                                </button>
                                <h4 class="modal-title">Physics is <span style="white-space: nowrap;"> beauti\(\!\int\!\)ul. Forum</span></h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="progress-bottom-container">
            <h4>Progress</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class="sr-only"></span>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}
