<select type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %} >
</select>
{#<datalist id="units-list{{ widget.name }}" id="units-list{{ widget.name }}">#}
{#</datalist>#}
{% if not '__prefix__' in widget.name %}
<script>
(function(django) {

function unitsLoaded() {

  var refreshUnits = function(widget_name, unitType){

    var INPUT_UNITS = []

    Object.getOwnPropertyNames(django.unitsList)
    .map(key => [key, Object.getOwnPropertyDescriptor(django.unitsList, key)])
    .map(([key]) => key).forEach(function (key) {
        if (!unitType || unitType === key) {
          INPUT_UNITS = INPUT_UNITS.concat(Object.keys(django.unitsList[key]))
        }
    })

    // reset all options
    django.jQuery('#id_'+widget_name).find('option').remove()

    for (x=0; x < INPUT_UNITS.length; x++) {
        django.jQuery('#id_'+widget_name).append("<option value='" + INPUT_UNITS[x] + "'>"+INPUT_UNITS[x]+"</option>");
    }
  }

  // generate speed
  if (!django.unitsList.hasOwnProperty('SPEED')) {

      django.unitsList['SPEED']={}

      var distanceO = django.unitsList['DISTANCE']
      var timeO = django.unitsList['TIME']

      Object.keys(distanceO).forEach(function (keyDist) {
        Object.keys(timeO).forEach(function (keyTime) {
          {# if (!(keyDist === 'm' && keyTime === 's')) { // exclude SI unit #}
            django.unitsList['SPEED'][keyDist + '/' + keyTime] = distanceO[keyDist] + '/' + timeO[keyTime]
          {# } #}
        })
      })
    }

  refreshUnits('{{ widget.name}}', null)

  django.jQuery('#id_{{ widget.name }}').on('change', function() {
    var newVal = this.value;
    // find unit TYPE
    var selected_unit_type;
    Object.getOwnPropertyNames(django.unitsList)
      .map(key => [key, Object.getOwnPropertyDescriptor(django.unitsList, key)])
      .map(([key]) => key).forEach(function (key) {
        Object.keys(django.unitsList[key]).forEach( function (unitkey) {
          if (unitkey === newVal){
            selected_unit_type = key;
            var wn = '{{ widget.name}}';

            var widgetIndex = wn.slice(-1);
            if (widgetIndex == "1"){
              widgetIndex="3";
            } else {
              widgetIndex="1";
            }
            wn = wn.replace(/.$/, widgetIndex);
            var oldVal = django.jQuery('#id_'+wn).val();
            refreshUnits(wn, selected_unit_type); // reload on other
            //restore other box with selected
            django.jQuery('#id_'+wn).val(oldVal);
          }else{
             // reset current box with restore selected option
            refreshUnits('{{ widget.name}}', null);
            django.jQuery('#id_{{ widget.name}}').val(newVal);
          }
        })
      })

    // fire mathquill field for recalculate rhs

    MQ = MathQuill.getInterface(MathQuill.getInterface.MAX);
    var spanId = '{{ widget.name }}'.replace(/.$/, "0-mq")
    var latexLhs = MQ(document.getElementById(spanId)).latex()
    MQ(document.getElementById(spanId)).latex(latexLhs)

    })

  }



function checkUnits() {
    if (django.unitsList) {
        unitsLoaded();
    } else {
        window.setTimeout(checkUnits, 100);
    }
}

checkUnits();

})(django);
</script>
{% endif %}

