/*html {*/
    /*font-family: "Museosansrounded", sans-serif;*/
    /*font-size: 12px;*/
/*}*/

/* common with classroom, need to create common.css */

.resources .blue-title {
    font-size: 2rem;
    color: rgb(8, 209, 255);
    padding-bottom: 2rem;
}

.resources .textbook-title {
    font-size: 3rem;
    color: rgb(8, 209, 255);
    padding-bottom: 2rem;
}

.resources .problem-row {
    color: rgb(38, 161, 255);
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.25em;
}

.resources .problem-row:hover {
    border: 1px solid rgba(38, 165, 255, 0.45);
    border-radius: 7px;
}

.resources .common-button {
    background-color: rgb(8, 209, 255);
    border-radius: 2rem;
    border-width: 1px;
    color: white;
    padding: 4px 12px 4px 12px;
    margin: 1rem 0 1rem 0;
    border-color: #ccc;
}

.resources .pib-link {
    color: rgb(8, 209, 255);
    cursor: pointer;
    text-decoration: underline;
}

.resources .disabled-button {
    background-color: rgb(216, 216, 216);
    pointer-events: none;
}

.resources .back-button {
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #d8d8d8 !important;
    transition: color 300ms;
}

.resources .back-button:hover {
    text-decoration: none;
    color: #1caff6 !important;
}

.resources .red-text {
    color: red;
}

.resources .blue-text {
    color: rgb(38, 161, 255)
}

.resources .solution-count {
    color: rgb(255, 0, 154)
}

.resources .gray-text {
    color: #ababab;
}

.resources .solution-title {
    color: #1caff6;
    margin-top: 0;
    font-size: 20px;
}

.resources .small-text {
    font-size: 1.5rem;
}

.resources .text-align-center {
    text-align: center;
}

.resources .curriculum-card {
    /* todo move elements with this class to basic card */
    border-radius: 15px;
    background-color: #efefef;
    box-shadow: 0 0 10px #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    margin: 0 1rem 1rem 0;
    /*float: left;*/
    position: relative;
    text-align: center;
    /*padding-top: 1rem;*/
    margin-top: 1rem;

    vertical-align: top;

    /* new values */
    padding: 0 1rem 0 1rem;
    max-width: 25rem;
    min-width: 20rem;
    width: auto;
    height: 25rem;
    /*height: 40rem;  !* temp fix for swiper overflow hidden, drop down menu does not visible at the full *!*/
}

.resources .curriculum-card div img {
    /*width: 100%;*/
    /*display: block;*/
    height: 18rem;
}

.resources .curriculum-card > div > span {
    width: 100%;
    display: block;
    height: 18rem;
    font-size: 18rem;
}

.pib-swiper-button {
    height: 90% !important;
    top: 10% !important;
}

.pib-swiper-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    left: 0;
    top: 0;
    transition: opacity 0.6s;
    opacity: 0;
    border-radius: 0.5rem;
  }

.pib-swiper-button:hover::after {
    opacity: 1;
  }

.resources .editable-label:not(.empty) .glyphicon-pencil, .editor .mq-editable-label:not(.empty) .glyphicon-pencil{ display:none; }
.resources .editable-label:hover .glyphicon-pencil, .editor .mq-editable-label:hover .glyphicon-pencil { display:inline; }
.resources .editable-label:hover, .editor .mq-editable-label:hover, .editor .mq-editable-label:hover .mq-math-mode { cursor:pointer; }

/* common with editor, need to create common.css */

.resources .drag-handle {
    background-image: url(img/drag-handle.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    padding: 0 1rem 0 1rem;
}
.resources .drag-handle:hover { cursor: move; }
.resources .drag-handle {
    display: inline-block;
    filter: none;
}

.resources .drop-target .dock-site { height:60px; }
/*.unit .drop-target .dock-site, .module .drop-target .dock-site { float:left; width:110px; height:150px; }*/
/*.unit .drop-target, .module .drop-target { float:left; margin-left:-60px; padding-left:60px;}*/
/*.editor .unit .btn-add-module, .editor .module .btn-add-lesson {text-align:center;}*/

/* from djeddit css */

.bs-callout {
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
}

/* resources only css */

.resources .selectable-file {
    position: relative;
    cursor: pointer;
}

.resources .selectable-file input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

div.pdf-ico {
    width: 56px;
    height: 56px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij4KPHBhdGggc3R5bGU9ImZpbGw6I0UyRTVFNzsiIGQ9Ik0xMjgsMGMtMTcuNiwwLTMyLDE0LjQtMzIsMzJ2NDQ4YzAsMTcuNiwxNC40LDMyLDMyLDMyaDMyMGMxNy42LDAsMzItMTQuNCwzMi0zMlYxMjhMMzUyLDBIMTI4eiIvPgo8cGF0aCBzdHlsZT0iZmlsbDojQjBCN0JEOyIgZD0iTTM4NCwxMjhoOTZMMzUyLDB2OTZDMzUyLDExMy42LDM2Ni40LDEyOCwzODQsMTI4eiIvPgo8cG9seWdvbiBzdHlsZT0iZmlsbDojQ0FEMUQ4OyIgcG9pbnRzPSI0ODAsMjI0IDM4NCwxMjggNDgwLDEyOCAiLz4KPHBhdGggc3R5bGU9ImZpbGw6I0YxNTY0MjsiIGQ9Ik00MTYsNDE2YzAsOC44LTcuMiwxNi0xNiwxNkg0OGMtOC44LDAtMTYtNy4yLTE2LTE2VjI1NmMwLTguOCw3LjItMTYsMTYtMTZoMzUyYzguOCwwLDE2LDcuMiwxNiwxNiAgVjQxNnoiLz4KPGc+Cgk8cGF0aCBzdHlsZT0iZmlsbDojRkZGRkZGOyIgZD0iTTEwMS43NDQsMzAzLjE1MmMwLTQuMjI0LDMuMzI4LTguODMyLDguNjg4LTguODMyaDI5LjU1MmMxNi42NCwwLDMxLjYxNiwxMS4xMzYsMzEuNjE2LDMyLjQ4ICAgYzAsMjAuMjI0LTE0Ljk3NiwzMS40ODgtMzEuNjE2LDMxLjQ4OGgtMjEuMzZ2MTYuODk2YzAsNS42MzItMy41ODQsOC44MTYtOC4xOTIsOC44MTZjLTQuMjI0LDAtOC42ODgtMy4xODQtOC42ODgtOC44MTZWMzAzLjE1MnogICAgTTExOC42MjQsMzEwLjQzMnYzMS44NzJoMjEuMzZjOC41NzYsMCwxNS4zNi03LjU2OCwxNS4zNi0xNS41MDRjMC04Ljk0NC02Ljc4NC0xNi4zNjgtMTUuMzYtMTYuMzY4SDExOC42MjR6Ii8+Cgk8cGF0aCBzdHlsZT0iZmlsbDojRkZGRkZGOyIgZD0iTTE5Ni42NTYsMzg0Yy00LjIyNCwwLTguODMyLTIuMzA0LTguODMyLTcuOTJ2LTcyLjY3MmMwLTQuNTkyLDQuNjA4LTcuOTM2LDguODMyLTcuOTM2aDI5LjI5NiAgIGM1OC40NjQsMCw1Ny4xODQsODguNTI4LDEuMTUyLDg4LjUyOEgxOTYuNjU2eiBNMjA0LjcyLDMxMS4wODhWMzY4LjRoMjEuMjMyYzM0LjU0NCwwLDM2LjA4LTU3LjMxMiwwLTU3LjMxMkgyMDQuNzJ6Ii8+Cgk8cGF0aCBzdHlsZT0iZmlsbDojRkZGRkZGOyIgZD0iTTMwMy44NzIsMzEyLjExMnYyMC4zMzZoMzIuNjI0YzQuNjA4LDAsOS4yMTYsNC42MDgsOS4yMTYsOS4wNzJjMCw0LjIyNC00LjYwOCw3LjY4LTkuMjE2LDcuNjggICBoLTMyLjYyNHYyNi44NjRjMCw0LjQ4LTMuMTg0LDcuOTItNy42NjQsNy45MmMtNS42MzIsMC05LjA3Mi0zLjQ0LTkuMDcyLTcuOTJ2LTcyLjY3MmMwLTQuNTkyLDMuNDU2LTcuOTM2LDkuMDcyLTcuOTM2aDQ0LjkxMiAgIGM1LjYzMiwwLDguOTYsMy4zNDQsOC45Niw3LjkzNmMwLDQuMDk2LTMuMzI4LDguNzA0LTguOTYsOC43MDRoLTM3LjI0OFYzMTIuMTEyeiIvPgo8L2c+CjxwYXRoIHN0eWxlPSJmaWxsOiNDQUQxRDg7IiBkPSJNNDAwLDQzMkg5NnYxNmgzMDRjOC44LDAsMTYtNy4yLDE2LTE2di0xNkM0MTYsNDI0LjgsNDA4LjgsNDMyLDQwMCw0MzJ6Ii8+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.resources .title {
    font-size: 2rem;
}

/* fix for solutions edit/delete menu */

.resources .solution-dropdown-menu > div > ul {
    min-width: auto !important;
}

.resources .solution-dropdown-menu > div > ul > li > a {
    padding: 0 1rem !important;
}

.resources td.solution-dropdown-menu {
    min-width: 3rem;
}

/* fix for bootstrp modal (attached to body) */

.blue-text {
    color: rgb(8, 209, 255)
}

.selectable-file input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

/* fix for cutting off dropdown of menu table  */

.table-responsive {
    overflow: inherit !important;
}

/* one row fix */
.pure-radiobutton input[type="radio"] + label {
    width: 6rem !important;
}

@media all and (max-width: 770px) { /* Mobile optimization */
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .text-align-center {
        padding-left: 0;
        padding-right: 0;
    }
    .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .resources .problem-row {
        font-size: 2em;
    }
    .resources .blue-title {
        font-size: 30px;
    }
    .resources .blue-title {
        font-size: 30px;
    }
    .navbar.navbar-default a {
        margin-left: 15px
    }
}

.slick-slide img {
    display: inline-block !important;
}

.slick-next:before, .slick-prev:before {
    color: #000 !important;
}
