

/* common with classroom, need to create common.css */

.resources .blue-title {
    font-size: 2rem;
    color: rgb(8, 209, 255);
}

.resources .common-button {
    background-color: rgb(8, 209, 255);
    border-radius: 2rem;
    border-width: 1px;
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    margin: 1rem 0 1rem 0;
}

.resources .back-button {
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #d8d8d8;
    transition: color 300ms;
}

.resources .back-button:hover {
    text-decoration: none;
    color: #1caff6;
}

.resources .blue-text {
    color: rgb(8, 209, 255)
}

.resources .gray-text {
    color: #ababab;
}

.resources .editable-label:not(.empty) .glyphicon-pencil, .editor .mq-editable-label:not(.empty) .glyphicon-pencil{ display:none; }
.resources .editable-label:hover .glyphicon-pencil, .editor .mq-editable-label:hover .glyphicon-pencil { display:inline; }
.resources .editable-label:hover, .editor .mq-editable-label:hover, .editor .mq-editable-label:hover .mq-math-mode { cursor:pointer; }
