packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    postgresql95-devel: []
    freetype-devel: []

commands:
  01_install_node:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum install -y nodejs npm --enablerepo=epel'
  02_create_wsgi_home:
    command: 'mkdir /home/wsgi/'
    ignoreErrors: true
  03_set_folder_permission:
    command: "chown wsgi /home/wsgi/"
    ignoreErrors: true

