packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    postgresql95-devel: []
    freetype-devel: []
    git: []
    # puppeteer dependencies
    # libXcursor.x86_64: []
    # libXdamage.x86_64: []
    # libXinerama.x86_64: []
    # cups-libs.x86_64: []
    # libXrandr.x86_64: []
    # pango.x86_64: []
    # cairo.x86_64: []
    # cairo-gobject.x86_64: []

commands:
  #01_install_node:
  #  cwd: /tmp
  #  test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
  #  command: 'yum install -y nodejs npm --enablerepo=epel'
  02_updatenode:
    command: "curl -sL https://rpm.nodesource.com/setup_8.x | bash -"
  03_updatenode:
    command: "yum remove -y nodejs && yum install -y nodejs --enablerepo=nodesource"
  04_create_wsgi_home:
    command: 'mkdir /home/wsgi/'
    ignoreErrors: true
  05_set_folder_permission:
    command: "chown wsgi:wsgi -R /home/wsgi/"
    ignoreErrors: true
  #06_install_puppeteer_dependencies:
  #  ignoreErrors: true
  #  command: |
  #    sudo rpm -ivh --nodeps http://mirror.centos.org/centos/7/os/x86_64/Packages/atk-2.28.1-1.el7.x86_64.rpm
  #   sudo rpm -ivh --nodeps http://mirror.centos.org/centos/7/os/x86_64/Packages/at-spi2-atk-2.26.2-1.el7.x86_64.rpm
  #    sudo rpm -ivh --nodeps http://mirror.centos.org/centos/7/os/x86_64/Packages/at-spi2-core-2.28.0-1.el7.x86_64.rpm
  #    sudo rpm -ivh --nodeps http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/g/GConf2-3.2.6-7.fc20.x86_64.rpm
  #    sudo rpm -ivh --nodeps http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/l/libXScrnSaver-1.2.2-6.fc20.x86_64.rpm
  #    sudo rpm -ivh --nodeps http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/l/libxkbcommon-0.3.1-1.fc20.x86_64.rpm
  #    sudo rpm -ivh --nodeps http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/l/libwayland-client-1.2.0-3.fc20.x86_64.rpm
  #    sudo rpm -ivh --nodeps http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/l/libwayland-cursor-1.2.0-3.fc20.x86_64.rpm
  #    sudo rpm -ivh --nodeps http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/g/gtk3-3.10.4-1.fc20.x86_64.rpm
  #    sudo rpm -ivh --nodeps http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/16/Fedora/x86_64/os/Packages/gdk-pixbuf2-2.24.0-1.fc16.x86_64.rpm
  #    sudo rpm -ivh --nodeps http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/16/Fedora/x86_64/os/Packages/gdk-pixbuf2-2.24.0-1.fc16.x86_64.rpm

files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_add_valid_host_wsgi.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            # echo posthook >> /tmp/1.txt
            cp /opt/python/current/app/.platform/httpd/conf.d/wsgi.conf /etc/httpd/conf.d/wsgi.conf
            /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart httpd