# files:
#  "/etc/httpd/conf.d/wsgi_custom.conf":
#    mode: "000644"
#    owner: root
#    group: root
#    content: |
#      WSGIApplicationGroup %{GLOBAL}
#      Alias /ads.txt /opt/python/current/app/ads.txt

option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /ads.txt: ads.txt
    /static: static
# this setting is setup in console
#  aws:elasticbeanstalk:container:python:
#    WSGIPath: settings.wsgi:application
#    NumProcesses: 3
#    NumThreads: 20
