container_commands:
  01_npm_install:
    command: "npm config set strict-ssl false"
    leader_only: true
  02_npm_install:
    command: "npm install"
    leader_only: true
  03_webpack:
    command: "./node_modules/.bin/webpack --config webpack.config.js"
    leader_only: true
  04_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  05e_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
