container_commands:
  01-updatenpmv3:
    command: PATH=$PATH:/usr/bin/ && npm update -g npm
    cwd: /usr/bin/
  02_npm_install:
    command: "npm config set strict-ssl false"
    leader_only: true
  03_npm_install:
    command: "npm install"
    leader_only: true
  04_webpack:
    command: "npm run prod"
    leader_only: true
  05_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  06e_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
