container_commands:
  02_updatenode:
    command: "curl -sL https://rpm.nodesource.com/setup_8.x | bash -"
  03_updatenode:
     command: "yum remove -y nodejs && yum install -y nodejs --enablerepo=nodesource"
  04_npm_config:
    command: "npm config set strict-ssl false"
    leader_only: true
  05_npm_install:
    command: "npm install --production"
    leader_only: true
  06_webpack:
    command: "npm run prod"
    leader_only: true
  07_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  08_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

