container_commands:
#  04_npm_config:
#    command: "npm config set strict-ssl false"
#  05_npm_install:
#    command: "npm install --production"
#  06_webpack:
#    command: "npm run prod --max-old-space-size=256"
  01_npm_install:
    command: "npm install @vermus/django-react-djeddit-client"
  07_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py collectstatic --noinput"
  08_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true

