container_commands:
  04_npm_config:
    command: "npm config set strict-ssl false"
  05_npm_install:
    command: "npm install --production"
  06_webpack:
    command: "npm run prod"
  07_collectstatic:
    command: "python manage.py collectstatic --noinput"
  08_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

