@font-face {
    font-family: 'Tw Cen MT';
    src: url('typeface/hinted-TwCenMT-Regular.eot');
    src: url('typeface/hinted-TwCenMT-Regular.eot?#iefix') format('embedded-opentype'),
         url('typeface/hinted-TwCenMT-Regular.woff') format('woff'),
         url('typeface/hinted-TwCenMT-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('typeface/Benton-Sans/benton-sans-regular.eot');
    src: url('typeface/Benton-Sans/benton-sans-regular.eot?#iefix') format('embedded-opentype'),
         url('typeface/Benton-Sans/benton-sans-regular.woff') format('woff'),
         url('typeface/Benton-Sans/benton-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: #f1f1f1;
}

#backToDashboard {
    position: absolute;
    left: 10px;
    top: 10px;
}

#lessonStatButton {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}

.section-sheet {
    position: relative;
    width: 80%;
    margin-top: 30px;
    border-radius: 15px;
    padding: 60px;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    margin-bottom: 60px;
    height: auto;
}
.section-sheet h1 {font-size: 100%;}

.problem-sheet{
    padding: 0 !important;
    position:relative;
    min-width: 80vw;
    margin-top: 1%;
    border-radius: 15px;
    min-height: 60vh;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    /*padding-bottom:8vh*/
}
.problem-sheet h1 {font-size: 120%;}

.game-sheet {
    position: relative;
    width: 80%;
    margin-top: 30px;
    border-radius: 15px;
    padding: 60px;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    margin-bottom: 60px;
    height: auto;
}
.section-sheet h1 {font-size: 100%;}

#footer{
    position:relative;
    padding:0;
    bottom:0;
    left:0;
    right:0;
    border-radius: 0 0 15px 15px;
    background-color: #dbdbdb;
    margin-top:5px;
}

.bounding-box{
    border-radius: 25px;
    padding: 2vh;
    background-color: white;
    box-shadow: 0px 0px 10px #d8d8d8;
    margin: 2vh;
    padding-bottom: 2vh;
    font-family: "Benton Sans";
}
.bounding-box a{
    margin:3px;
}

@media all and (max-width: 770px) { /*iPad, Nexus 6P, iPhone 6+, Nexus 5X optimization*/
    .bounding-box{
        margin-bottom:3px;
        margin-top:3px;
    }
    .problem-sheet {
        /*height: calc(100% - 60px);*/
		width: 100%;
		padding: 0px;
		margin-top: -15px;
	}
	.section-sheet {
		width: 99%;
		padding: 20px;
		margin-top: -15px;
	}
	.game-sheet {
		width: 99%;
		padding: 20px;
		margin-top: -15px;
	}
	.col-md-1 {
		margin-right: 0px !important;
	}
    .col-md-6 {
        padding:0px;
    }
    .text-center{
        margin-left: 1%;
        margin-right: 1%;
    }
    #footer{
        /*position:relative;*/
        width: 100%;
    }
}

.section-title {
    font-size: 20px;
    color: #1caff6;
    text-transform: uppercase;
}

.btn-group-lg>.btn, .btn-lg {
    white-space: normal;
    padding: 8px 10px;
    font-size: 18px;
}

.progress{
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 4px;
    margin-bottom:0px;
}

.progress-bottom-container{
    position: relative;
    display: inline-block;
    /*bottom: 0;*/
    float: left;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 45vw;
}

.section-bounding-box {
    border-radius: 25px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
    height: 150px;
}

.section-thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-bottom: 0;
    height: 64px;
}

.section-thumbnail > img {
    display: block;
    height: 60px;
}

.question-thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-bottom: 0vh;
}

.question-thumbnail > img {
    display: block;
    max-height: 43vh;
}
img.grayed-out-img {
    filter: grayscale(100%) brightness(134%);
}

.lesson-completed {
    color: #8d8;
}

.lesson-accessible {
    /*color: #0A0;*/
}

.lesson-accessible-block {
    border-radius: 5px;
    box-shadow: 5px 5px 15px #BBB;
}

.lesson-skipped {
    color: #FA0;
}

.lesson-locked {
    color: #AAA;
}

.col-md-1 h1 {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    height: 40px;
}

.exam-banner {
    height: 60px;
    padding-top: 50px;
    color: #FA0;
    font-size: 20px;
    opacity: 0;
    display: none;
}

.module-completed {
    color: #8d8;
}

.module-accessible {
    /*color: #0A0;*/
}

.module-accessible-block {
    border-radius: 5px;
    box-shadow: 5px 5px 15px #BBB;
}

.module-skipped {
    color: #FA0;
}

.module-locked {
    color: #AAA;
}

.col-md-1 {
    margin: 10px;
    margin-right: 35px;
    padding: 15px;
    display: inline-block;
    width: 110px;
}

.col-md-1.disabled {
    pointer-events: none;
    opacity: 0.35;
    filter: alpha(opacity=40);
}

.btn.btn-info.btn-xs.pull-right.active {
    background-color: black;
}

#name {
    color: white;
    font-family: Tw Cen MT;
    font-weight: normal;
    font-size: 25px;
    padding: 0px 30px;
    margin: 16px 0;
}
#spacer{
    float:left;
    bottom:0;
    left:0;
    right:0;
    border-radius: 0 0 15px 15px;
    background-color: #C0C0C0;
    margin-top:5px;
}

#checkMarks{
    float:right;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}
#checkContainer{
    position: absolute;
    bottom: 2rem;
    right: 8rem;
}
#checkButton{
    border-radius: 12rem;
    border: .2rem solid #1caff6;
    padding-left: 15;
    padding-right: 15;
    padding-top: 9px;
    padding-bottom: 9px;
    background: rgba(255, 255, 255, 0);
    color: #1caff6;
    transition: color .3s,border .3s;
    outline: none;
}

#checkButton:hover,
#checkButton:focus{
    border-radius: 12rem;
    color: #105e84;
    border: .2rem solid #105e84;
}
#checkButton.disabled{
    border-radius: 12rem;
    color: #dddddd;
    background: gray;
    border: .2rem solid gray;
}
#vectorButton{

}

.float-lefteft{
    float:left;
}

#blockRight{
    float:right;
    min-width:30vw;
    margin-right:100px;
    padding-top:4px;
    padding-left: 10px;
}
#correctMessage{
    display: inline-block;
    max-width:300px;
    padding-right: 21px;
    text-align: center;
    font-size:18;
}
#modalContainer{
    display: inline-block;
    padding-right:100px;
}
#modal{
    border: none;
    border-radius: 10px;
    background-color:white;
}

#correct{
    color:rgb(90, 200, 100);
    font-size: 58px;
}
#incorrect{
    color:rgb(210, 50, 50);
    font-size: 58px;
}

.ajax-banner{
    color:#DDD;
    font-size:25px;
    font-family: TW CEN MT
}

.question {
    min-height: 60vh;
}

.hintButton{
    text-align:right;
    font-style: italic;
    cursor:pointer;
}

.navbar.navbar-default button {
    background-color: rgba(240, 248, 255, 0);
}

.navbar-default .navbar-toggle {
    border-color: rgba(221, 221, 221, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.canvas-container {
    width: 100%;
    height: auto;
    margin: auto;
}
.btn-danger{
    background-color:rgb(255, 0, 0);
    border-color:rgb(255, 0, 0);
    box-shadow:none;
    pointer-events: none;
}

.inline-picture {
    display: inline-block;
    width: 150px;
    margin: 3px;
    box-shadow: 0 0 1px #d8d8d8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.inline-picture:hover{
    box-shadow: 0 0 10px #d8d8d8;
    cursor:pointer
}

.game-title{
    font-family: Tw Cen MT;
    color:#1caff6;
}

.hover-button{
    border-radius: 12rem;
    border: .2rem solid #1caff6;
    padding-left: 15;
    padding-right: 15;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0);
    color: #1caff6;
    transition: color .3s,border .3s;
    outline:0;
}
.hover-button:hover,
.hover-button:focus{
    color: #105e84;
    border: .2rem solid #105e84;
}

.TwCenMT{
    font-family: "TW CEN MT"
}
.align-left{
    text-align: left;
}
.mathClickEntryButton{
    border: .2rem solid #337ab7;
    padding-left: 15;
    padding-right: 15;
    padding-top: 7px;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0);
    color: #000000;
    transition: color .3s,border .3s;
}
.mathClickEntryButton:hover{
    border: .2rem solid #105e84;
    color: #000000;
    background-color: #ffffff;
}

.strikethrough {
    text-decoration: line-through;
}

.red-border {
    border: .3rem solid red !important;;
}

.green-border {
    border: .3rem solid green !important;
}

.card {
    /* Add shadows to create the "card" effect */
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.3s;
    cursor: pointer;
    margin: .3rem;
    height: auto;
    border-radius: 1rem;
    border: 0.2rem solid #e3e3e3;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
    border: 0.2rem solid #1caff6;
    color: #1caff6;
}

.wrapper {
  position: relative;
  overflow: hidden;
  margin: 0.25rem;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.wrapper img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}


.answer-button{
    border-radius: 12rem;
    border: .2rem solid gray;
    padding-left: 15;
    padding-right: 15;
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 1rem;
    background: rgba(255, 255, 255, 0);
    color: gray;
    transition: color .3s,border .3s;
    text-align: justify;
    cursor: pointer;
}
.answer-button:hover{
    color: #1caff6;
    border: .2rem solid #1caff6;
}

