{% extends "navbar.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
{% endblock %}

{% block body_content %}

{% block content %}
    <div class="container">
        <div class = "border-bottom">
            <h1 class="blog-title">
                ABOUT US
            </h1>
        </div>
        <h2 style="text-align: center">
            Let’s be honest. Physics isn’t easy.
        </h2>
        <h3 style="text-align: center">
            Physics Is Beautiful is a free, interactive, easy way to learn physics for people of all backgrounds.
        </h3>
        <br>
        <p style="text-align: justify">
            Nicolas Scozzaro and Neil Chowdhury are dedicated to making physics more interactive, accessible and fun.
            They have started "Physics is Beautiful," an app of gamified physics lessons that cover standard curriculum in an interactive way.
            Think of it like Duolingo or CodeAcademy but for physics.
        </p>
        <p style="text-align: justify">
            They are making physics more efficient and enjoyable by eliminating the dry textbooks and problem sets from the equation.
            With the $2000 in funding provided through winning a <a href="https://techhub.osu.edu/news/2016/11/16/and-grant-goes-2016-student-project-grant-winners">Tech Hub Tech Grant</a>, they developed a web app that offers free, quality physics instruction to be used in classes around the world. Physics is Beautiful is a member of <a href="https://aws.amazon.com/education/edstart/">AWS EdStart</a>, and won first place and $5000 in credits at the 2019 EdStart pitch day. 
        </p>
        <p style="text-align: justify">
            Their ultimate goal is to enable people to learn physics in a fraction of the time than it takes today, and enjoy the learning process much more.
            Their aim is for their content to be thorough enough that students may eventually be able to pass the AP physics exam or even college courses by using only the app.
        </p>
        <p style="text-align: justify">
            The physics curriculum currently covers (listed in order) vectors, motion diagrams, position-, velocity- and acceleration versus time graphs, Newton's Laws, forces, and free-body diagrams.
            The structure is a series of lessons that consist of questions that build on one another, sometimes referred to as an "inductive-chain."
            After a few lessons learning new material, there are "game-review" lessons reviews the previous lessons in a game format which requires speed and accuracy to beat.
            They are dedicated to developing new lessons and improving current lessons, to allow people to learn physics as efficiently as possible.
        </p>
        <p style="text-align: justify">
            Physics is Beautiful was first used as part of the required homework in The Ohio State University's summer intro physics course (physics 1200) during the summer of 2016.
            Now, high school physics teachers across the world use Physics is Beautiful as supplementary curriculum in their classes. Physics is Beautiful provides a platform for teachers to customize their curriculum and assign lessons.
        </p>
    <h2>Founders</h2>
    <div class="row" id="profile-row">
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://www.linkedin.com/in/nscozzaro" target="_blank">
          <img src="{% static 'homepage/images/about/nicolas.jpg' %}"  style="width:100%">
          <div class="caption">
            <p>Nicolas Scozzaro</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://www.linkedin.com/in/neilchowdhury98" target="_blank">
          <img src="{% static 'homepage/images/about/Neil.jpg' %}"  style="width:100%">
          <div class="caption">
            <p>Neil Chowdhury</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <h2>Past collaborators</h2>
  <div class="row" id="profile-row">
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://www.linkedin.com/in/mike-darcy-610b6640/" target="_blank">
          <img src="{% static 'homepage/images/about/Darcy.jpg' %}"  style="width:100%">
          <div class="caption">
            <p>Michael Darcy</p>
          </div>
        </a>
      </div>
    </div>
        <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://www.linkedin.com/in/webfarer/" target="_blank">
          <img src="{% static 'homepage/images/about/hiran.png' %}"  style="width:100%">
          <div class="caption">
            <p>Hiran Wijesinghe</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://www.linkedin.com/in/damianhites" target="_blank">
          <img src="{% static 'homepage/images/about/domhites.jpg' %}"  style="width:100%">
          <div class="caption">
            <p>Dom Hites</p>
          </div>
        </a>
      </div>
    </div>
  </div>
    </div>
{% endblock %}
{% endblock %}
