{#{% extends "navbar.html" %}#}
{#{% load static %}#}
{##}
{#{% block extrahead %}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />#}
{#{% endblock %}#}
{##}
{#{% block body_content %}#}
{#    {% block content %}#}
{#        <div class="container" style="text-align: center">#}
{#            <div class = "border-bottom">#}
{#                <h1 class="blog-title">#}
{#                    CONTACT US#}
{#                </h1>#}
{#            </div>#}
{#            <h3 style="text-align: center">#}
{#                Thank you for filling out the form. A member of our team will be in touch with you shortly.#}
{#            </h3>#}
{#            <br>#}
{#            <a class="btn btn-primary" href="/">Return home</a>#}
{#        </div>#}
{#    {% endblock %}#}
{#{% endblock %}#}
