{% extends "navbar.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
    <style type="text/css">
         @font-face {
            font-family: 'Museosansrounded';
            src: url({% static '/fonts/museosansrounded-300-webfont.woff2' %}) format('woff2');
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museosansrounded';
            src: url({% static '/fonts/museosansrounded-500-webfont.woff2' %}) format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museosansrounded';
            src: url({% static '/fonts/museosansrounded-700-webfont.woff2' %}) format('woff2');
            font-weight: 700;
            font-style: normal;
        }
        ol.lst-kix_list_1-3 {
            list-style-type: none
        }

        ol.lst-kix_list_1-4 {
            list-style-type: none
        }

        ol.lst-kix_list_1-5 {
            list-style-type: none
        }

        ol.lst-kix_list_1-6 {
            list-style-type: none
        }

        ol.lst-kix_list_1-0 {
            list-style-type: none
        }

        ol.lst-kix_list_1-2 {
            list-style-type: none
        }

        ul.lst-kix_2z9oh0j4e1zo-8 {
            list-style-type: none
        }

        ol.lst-kix_list_1-8.start {
            counter-reset: lst-ctn-kix_list_1-8 0
        }

        ul.lst-kix_2z9oh0j4e1zo-2 {
            list-style-type: none
        }

        ul.lst-kix_2z9oh0j4e1zo-3 {
            list-style-type: none
        }

        ul.lst-kix_2z9oh0j4e1zo-0 {
            list-style-type: none
        }

        ul.lst-kix_list_1-1 {
            list-style-type: none
        }

        ul.lst-kix_2z9oh0j4e1zo-1 {
            list-style-type: none
        }

        ul.lst-kix_2z9oh0j4e1zo-6 {
            list-style-type: none
        }

        ol.lst-kix_list_1-5.start {
            counter-reset: lst-ctn-kix_list_1-5 0
        }

        ol.lst-kix_list_1-7 {
            list-style-type: none
        }

        ul.lst-kix_2z9oh0j4e1zo-7 {
            list-style-type: none
        }

        .lst-kix_list_1-7>li {
            counter-increment: lst-ctn-kix_list_1-7
        }

        ol.lst-kix_list_1-8 {
            list-style-type: none
        }

        ul.lst-kix_2z9oh0j4e1zo-4 {
            list-style-type: none
        }

        ul.lst-kix_2z9oh0j4e1zo-5 {
            list-style-type: none
        }

        ol.lst-kix_list_1-7.start {
            counter-reset: lst-ctn-kix_list_1-7 0
        }

        .lst-kix_list_1-2>li {
            counter-increment: lst-ctn-kix_list_1-2
        }

        .lst-kix_list_1-5>li {
            counter-increment: lst-ctn-kix_list_1-5
        }

        .lst-kix_list_1-8>li {
            counter-increment: lst-ctn-kix_list_1-8
        }

        ol.lst-kix_list_1-4.start {
            counter-reset: lst-ctn-kix_list_1-4 0
        }

        .lst-kix_list_1-4>li {
            counter-increment: lst-ctn-kix_list_1-4
        }

        ol.lst-kix_list_1-6.start {
            counter-reset: lst-ctn-kix_list_1-6 0
        }

        ol.lst-kix_list_1-3.start {
            counter-reset: lst-ctn-kix_list_1-3 0
        }

        ol.lst-kix_list_1-2.start {
            counter-reset: lst-ctn-kix_list_1-2 0
        }

        .lst-kix_list_1-0>li:before {
            content: "" counter(lst-ctn-kix_list_1-0,decimal) ". "
        }

        .lst-kix_list_1-1>li:before {
            content: "o  "
        }

        .lst-kix_list_1-2>li:before {
            content: "" counter(lst-ctn-kix_list_1-2,decimal) ". "
        }

        .lst-kix_list_1-3>li:before {
            content: "" counter(lst-ctn-kix_list_1-3,decimal) ". "
        }

        .lst-kix_list_1-4>li:before {
            content: "" counter(lst-ctn-kix_list_1-4,decimal) ". "
        }

        ol.lst-kix_list_1-0.start {
            counter-reset: lst-ctn-kix_list_1-0 0
        }

        .lst-kix_list_1-0>li {
            counter-increment: lst-ctn-kix_list_1-0
        }

        .lst-kix_2z9oh0j4e1zo-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_2z9oh0j4e1zo-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_1-6>li {
            counter-increment: lst-ctn-kix_list_1-6
        }

        .lst-kix_list_1-7>li:before {
            content: "" counter(lst-ctn-kix_list_1-7,decimal) ". "
        }

        .lst-kix_list_1-3>li {
            counter-increment: lst-ctn-kix_list_1-3
        }

        .lst-kix_list_1-5>li:before {
            content: "" counter(lst-ctn-kix_list_1-5,decimal) ". "
        }

        .lst-kix_list_1-6>li:before {
            content: "" counter(lst-ctn-kix_list_1-6,decimal) ". "
        }

        .lst-kix_2z9oh0j4e1zo-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_2z9oh0j4e1zo-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_2z9oh0j4e1zo-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_2z9oh0j4e1zo-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_2z9oh0j4e1zo-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_2z9oh0j4e1zo-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_1-8>li:before {
            content: "" counter(lst-ctn-kix_list_1-8,decimal) ". "
        }

        .lst-kix_2z9oh0j4e1zo-6>li:before {
            content: "\0025cf  "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,table th {
            padding: 0
        }

        .c7 {
            margin-left: 0pt;
            padding-top: 0pt;
            list-style-position: inside;
            padding-bottom: 7.5pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c0 {
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 7.5pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c12 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c20 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c21 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: 'Museosansrounded';
            font-style: normal
        }

        .c4 {
            color: #3c3c3c;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11.5pt;
            font-family: 'Museosansrounded';
            font-style: normal
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: 'Museosansrounded';
            font-style: normal
        }

        .c3 {
            color: #999999;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11.5pt;
            font-family: 'Museosansrounded';
            font-style: normal
        }

        .c2 {
            -webkit-text-decoration-skip: none;
            color: #999999;
            font-weight: 400;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            font-size: 11.5pt;
            font-family: 'Museosansrounded';
        }

        .c19 {
            color: #3c3c3c;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 20.5pt;
            font-family: 'Museosansrounded';
            font-style: normal
        }

        .c15 {
            padding-top: 0pt;
            padding-bottom: 37.5pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 13.5pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c16 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c14 {
            padding-top: 0pt;
            padding-bottom: 7.5pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c11 {
            font-size: 11.5pt;
            font-family: 'Museosansrounded';
            color: #999999;
            font-weight: 700
        }

        .c8 {
            font-size: 11.5pt;
            font-family: 'Museosansrounded';
            color: #999999;
            font-weight: 400
        }

        .c13 {
            margin-left: 15pt;
            text-indent: -15pt;
            height: 12pt
        }

        .c17 {
            background-color: #ffffff;
            max-width: 432pt;
            padding: 72pt 90pt 72pt 90pt
        }

        .c10 {
            vertical-align: baseline;
            font-style: italic
        }

        .c5 {
            padding: 0;
            margin: 0
        }

        .c6 {
            color: inherit;
            text-decoration: inherit
        }

        .c18 {
            height: 12pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: 'Museosansrounded';
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: 'Museosansrounded';
            line-height: 1.0;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 12pt;
            font-family: 'Museosansrounded';
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 12pt;
            font-family: 'Museosansrounded';
        }

        h1 {
            padding-top: 5pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 5pt;
            font-family: 'Museosansrounded';
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: 'Museosansrounded';
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 5pt;
            color: #000000;
            font-weight: 700;
            font-size: 13.5pt;
            padding-bottom: 5pt;
            font-family: 'Museosansrounded';
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 5pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 5pt;
            font-family: 'Museosansrounded';
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: 'Museosansrounded';
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: 'Museosansrounded';
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="container">
        <p class="c15">
            <span class="c19">Privacy Policy</span>
        </p>
        <p class="c1">
            <span class="c3">PLEASE NOTE THAT YOUR USE OF AND ACCESS TO OUR SERVICES (DEFINED BELOW) ARE SUBJECT TO THE FOLLOWING TERMS; IF YOU DO NOT AGREE TO ALL OF THE FOLLOWING, YOU MAY NOT USE OR ACCESS THE SERVICES IN ANY MANNER. </span>
        </p>
        <ol class="c5 lst-kix_list_1-0 start" start="1">
            <li class="c0">
                <span class="c4">GENERAL</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c8">At PhysicsIsBeautiful.com, we care about your personal data, so we have prepared this privacy policy (&ldquo;</span>
            <span class="c11">Privacy Policy</span>
            <span class="c8">&rdquo;)</span>
            <span class="c11">&nbsp;</span>
            <span class="c3">to explain how we collect, use and share it, and to help you make informed decisions when using the Services. </span>
        </p>
        <p class="c1">
            <span class="c8">This Privacy Policy details the personal data PhysicsIsBeautiful.com (&ldquo;</span>
            <span class="c11">Physics is Beautiful</span>
            <span class="c8">&rdquo;, &ldquo;</span>
            <span class="c11">we</span>
            <span class="c8">&rdquo;, &ldquo;</span>
            <span class="c11">us</span>
            <span class="c8">&rdquo;, &ldquo;</span>
            <span class="c11">our</span>
            <span class="c8">&rdquo;or &ldquo;</span>
            <span class="c11">the Website</span>
            <span class="c3">&rdquo;) receives about you, how we process it and your rights and obligations in relation to your personal data. </span>
        </p>
        <p class="c1">
            <span class="c8">By using or accessing the Website and/or mobile application (&ldquo;</span>
            <span class="c11">App</span>
            <span class="c8">&rdquo;) and related services (together with the Website, the &ldquo;</span>
            <span class="c11">Service</span>
            <span class="c3">&rdquo;), you agree to the terms of this Privacy Policy. We may update our Privacy Policy to reflect changes to our information practices. If we do this and the changes are material, we will alert you to such changes by email and/or by placing a notice on our home page and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. We reserve the right to modify this Privacy Policy at any time, so please review it frequently.</span>
        </p>
        <p class="c16 c18">
            <span class="c21"></span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="2">
            <li class="c7">
                <span class="c4">INFORMATION WE COLLECT</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c3">This Privacy Policy explains how we collect, use and share your personal data.</span>
        </p>
        <p class="c14">
            <span class="c2 c10">Information you provide; Single Sign-On</span>
        </p>
        <p class="c1">
            <span class="c3">Through the registration process, you will provide us with your name and e-mail address. If registering through a sign-in service such as Google Sign-In, such services will authenticate your identity and provide you the option to share certain personal information with us such as your name and email address to pre-populate our sign up form.</span>
        </p>
        <p class="c14">
            <span class="c2 c10">Activity Data</span>
        </p>
        <p class="c1">
            <span class="c8">When you use the Service, you will submit information and content to your profile. We will also generate data about your use of our Services including your time spent engaging with lesson plans on the Service, movement around the Website, progress on assignments in our classroom feature (the &ldquo;</span>
            <span class="c11">Classroom</span>
            <span class="c8">&rdquo;), participation in forum discussions, creation of Classrooms, and otherwise transmitting information to other users (&ldquo;</span>
            <span class="c11">Activity Data</span>
            <span class="c3">&rdquo;). We also collect technical data about how you interact with our Services; for more information, see &ldquo;Cookies &rdquo;, below.</span>
        </p>
        <p class="c14">
            <span class="c2 c10">Third Party Data</span>
        </p>
        <p class="c1">
            <span class="c3">We also collect information about you from third parties. For more information, see &ldquo;Information Obtained by Third Parties &rdquo;, below. </span>
        </p>
        <p class="c14">
            <span class="c2 c10">Product Research and Development</span>
        </p>
        <p class="c1">
            <span class="c3">We may contact you to participate in research activities related to the Website or App. These may include surveys, interviews, and other types of feedback sessions. When you participate in these research activities, the information you provide will be used to test, improve, and develop our products. We may record the video, audio and/or text transcriptions of these sessions.</span>
        </p>
        <p class="c1">
            <span class="c8">You may opt out of being contacted for research activities at any time by emailing us at </span>
            <span class="c2">
                <a class="c6" href="mailto:privacy@physicsisbeautiful.com">privacy@physicsisbeautiful.com</a>
            </span>
            <span class="c3">.</span>
        </p>
        <p class="c1">
            <span class="c2 c10">Log Files</span>
        </p>
        <p class="c1">
            <span class="c8">As is true of most websites, we gather certain information automatically (&ldquo;</span>
            <span class="c11">Log Information</span>
            <span class="c3">&rdquo;) and store it in log files. Log Information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data. We may combine this automatically collected Log Information with other information we collect about you. We do this to improve services we offer you, to improve marketing, analytics, or Website functionality.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="3">
            <li class="c7">
                <span class="c4">COOKIES</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c3">When you enter the Website, we collect your browser type and your IP address (a unique address that identifies your computer on the Internet). When you use our App, we collect your device type, your device ID, and your IP address.</span>
        </p>
        <p class="c1">
            <span class="c3">In addition, we store certain information from your browser using &quot;cookies.&quot;A cookie is a piece of data stored on the user &#39;s computer tied to information about the user. We use session ID cookies to confirm that users are logged in. If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to deny or accept the cookie feature; however, you should note that cookies may be necessary to provide you certain features available on the Website (e.g., customized delivery of information).</span>
        </p>
        <p class="c1">
            <span class="c8">You can find more information about cookies and how to manage them at &nbsp;</span>
            <span class="c2">
                <a class="c6" href="https://www.google.com/url?q=http://www.allaboutcookies.org/&amp;sa=D&amp;ust=1536517436817000">http://www.allaboutcookies.org</a>
            </span>
            <span class="c3">.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="4">
            <li class="c7">
                <span class="c4">INFORMATION OBTAINED BY THIRD PARTIES</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c8">To support and enhance the Service, we work with a variety of third party advertising networks, marketing analytics service providers and website analysis firms, such as Google, Facebook, Oath, Unity, and Quantcast (collectively, &ldquo;</span>
            <span class="c11">Third Party Advertising Service Providers</span>
            <span class="c3">&rdquo;). These Third Party Advertising Service Providers collect and use non-personally identifiable information, such as your mobile device ID, about your visits to and use of the Website and mobile App, as well as other websites in order to serve you with advertisements and content tailored to meet your preferences and likely interests or better understand ad effectiveness. Aggregate demographic and interest data will also be used for market research purposes.</span>
        </p>
        <p class="c1">
            <span class="c8">We use Google Analytics, which is a web analytics tool that helps us understand how users engage with the Website. Like many services, Google Analytics uses first-party cookies to track user interactions as in our case, where they are used to collect information about how users use our site. This information is used to compile reports and to help us improve our Website. The reports disclose website trends without identifying individual visitors. You can opt out of Google Analytics without affecting how you visit our site &ndash;for more information on opting out of being tracked by Google Analytics across all websites you use, visit this Google page:&nbsp;</span>
            <span class="c2">
                <a class="c6" href="https://www.google.com/url?q=https://tools.google.com/dlpage/gaoptout&amp;sa=D&amp;ust=1536517436818000">https://tools.google.com/dlpage/gaoptout</a>
            </span>
            <span class="c3">.</span>
        </p>
        <p class="c1">
            <span class="c8">You can opt-out of receiving personalized ads from advertisers and ad networks that are members of the Network Advertising Initiative (&ldquo;NAI &rdquo;) or who follow the DAA Self-Regulatory Principles for Online Behavioral Advertising using their respective opt-out tools. The NAI &#39;s opt-out tool can be found here &nbsp;</span>
            <span class="c2">
                <a class="c6" href="https://www.google.com/url?q=http://www.networkadvertising.org/choices/&amp;sa=D&amp;ust=1536517436818000">http://www.networkadvertising.org/choices/</a>
            </span>
            <span class="c8">&nbsp;and the DAA &#39;s opt out tool can be found here &nbsp;</span>
            <span class="c2">
                <a class="c6" href="https://www.google.com/url?q=http://www.aboutads.info/choices/&amp;sa=D&amp;ust=1536517436818000">http://www.aboutads.info/choices/</a>
            </span>
            <span class="c3">.</span>
        </p>
        <p class="c1">
            <span class="c3">In addition, your mobile devices may offer settings that enable you to make choices about the collection, use, or transfer of mobile app information for online behavioral advertising (for example, Apple iOS &rsquo;Advertising ID and Google Android &rsquo;s Advertising ID). Please note that opting out does not prevent the display of all advertisements to you.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="5">
            <li class="c7">
                <span class="c4">USE OF INFORMATION OBTAINED BY PHYSICS IS BEAUTIFUL</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c3">We may occasionally send you service-related and product change announcements through the general operation of the Service. We process your data to help provide you with the Service and offer personalized features, to understand and improve our Service and to keep our Service safe and secure.</span>
        </p>
        <p class="c1">
            <span class="c8">We may use or share anonymous data collected through the Service, including Activity Data without limitation. As a business, it is critical that we perform our contract with you with the best service possible, and it is in our legitimate interests to perform these processing functions and to enable service e-mails by default to keep your data secure and provide our Service. You may opt out of any non-essential service e-mails at any time by following the unsubscribe instructions included in these emails or you can contact us at &nbsp;</span>
            <span class="c2">
                <a class="c6" href="mailto:privacy@physicsisbeautiful.com">privacy@physicsisbeautiful.com</a>
            </span>
            <span class="c3">.</span>
        </p>
        <p class="c1">
            <span class="c3">We may also use your contact information to send you notifications regarding new services, offers and promotions offered by Physics is Beautiful if you affirmatively consent to receive such communications.</span>
        </p>
        <p class="c1">
            <span class="c3">When you register with Physics is Beautiful, some of your information is made public and available at https://www.physicsisbeautiful.com/your-username. This will include the data from your Physics is Beautiful profile and account (name, location, bio, username, user ID, profile picture and membership status); your followers and the people you follow; badges you collect; and your learning progress. Any curriculum you create is also public by default, but can be made visible to only you or to people you have shared a link with. Neither your Physics is Beautiful account email address nor any Classroom you may create is shown publicly. Please note that we cannot control the actions of others with whom you may choose to share your pages and information.</span>
        </p>
        <p class="c1">
            <span class="c3">Profile information is used by Physics is Beautiful to be presented back to and edited by you when you access the Service and to be presented to other users. Physics is Beautiful uses this information to provide you with support, to send you essential notifications, to enforce our terms, conditions and policies, to communicate with you, to administer the Services, and for internal operations, including troubleshooting, data analysis, testing, research, statistical, and survey purposes. </span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="6">
            <li class="c7">
                <span class="c4">SHARING YOUR PERSONAL DATA WITH THIRD PARTIES</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c3">Physics is Beautiful shares your personal data only when it is necessary to offer the Service, legally required, or permitted by you. We do not sell, share, rent or trade your personal information to third parties for their promotional purposes.</span>
        </p>
        <p class="c1">
            <span class="c3">We will provide personal data to hosting providers such as Amazon Web Services, search engine providers such as Google and analytics providers such as Google Analytics.</span>
        </p>
        <p class="c1">
            <span class="c3">These data processors help us bring you the Service. For example, we may share your information in order to detect where or how you encountered a bug when using our mobile application. In connection with these operations, our service providers will have access to personal data for a limited time. When we utilize service providers for processing any personal data, we implement contractual protections limiting the use of that personal data to the provision of services to Physics is Beautiful.</span>
        </p>
        <p class="c1">
            <span class="c3">We will be required to access and disclose personal data in response to lawful requests, such as subpoenas or court orders, or in compliance with applicable laws. Additionally, we will access and share account or other personal data when we believe it is reasonably necessary to comply with law, to protect our interests or property, to prevent fraud or other illegal activity perpetrated through the Service or using the Physics is Beautiful name, or to prevent imminent harm. This may include accessing and sharing personal data with other companies, lawyers, agents or government agencies.</span>
        </p>
        <p class="c1">
            <span class="c3">If the ownership of all or substantially all of the Physics is Beautiful business, or individual business units or assets owned by Physics is Beautiful that are related to the Service, were to change, your personal data will be transferred to the new owner. In any such transfer of information, your personal data would remain subject to this section.</span>
        </p>
        <p class="c1">
            <span class="c3">Physics is Beautiful will share aggregate or anonymous data collected through the Service, including Activity Data, for purposes such as understanding or improving the service.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="7">
            <li class="c7">
                <span class="c4">COMMUNITY FORUM</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c8">Our Website offers publicly accessible blogs or community forums. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them. To request removal of your personal information from our blog or community forum, contact us at &nbsp;</span>
            <span class="c2">
                <a class="c6" href="mailto:privacy@physicsisbeautiful.com">privacy@physicsisbeautiful.com</a>
            </span>
            <span class="c3">. In some cases, we may not be able to remove your personal information, in which case we will let you know if we are unable to do so and why.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="8">
            <li class="c7">
                <span class="c4">DATA SUBJECT RIGHTS AND DATA RETENTION</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c3">You can manage your account settings at &nbsp;https://www.physicsisbeautiful.com/curriculum/ and click on your Display Name in the navigation bar &nbsp;to update, amend, and correct your information.</span>
        </p>
        <p class="c1">
            <span class="c8">You also have the following rights in relation to the personal data we hold about you, unless provided otherwise by local law, in each case by emailing us at </span>
            <span class="c2">
                <a class="c6" href="mailto:privacy@physicsisbeautiful.com">privacy@physicsisbeautiful.com</a>
            </span>
            <span class="c3">:</span>
        </p>
        <ul class="c5 lst-kix_2z9oh0j4e1zo-0 start">
            <li class="c12">
                <span class="c3">To request access to, or erasure of, the personal data we hold about you.</span>
            </li>
            <li class="c12">
                <span class="c3">To request us to restrict the processing of the personal data we hold about you.</span>
            </li>
            <li class="c12">
                <span class="c3">To object to us processing personal data relating to you.</span>
            </li>
            <li class="c12">
                <span class="c3">Where you have given us consent to process your personal data, you have the right to withdraw that consent at any time.</span>
            </li>
            <li class="c12">
                <span class="c3">To export the personal data you have provided to Physics is Beautiful in a format that can be transferred electronically to a third party.</span>
            </li>
            <li class="c12">
                <span class="c3">To delete your account with Physics is Beautiful by following the instructions available through the Service.</span>
            </li>
        </ul>
        <p class="c18 c20">
            <span class="c3"></span>
        </p>
        <p class="c1">
            <span class="c3">Physics is Beautiful will retain your data until your account is deleted, after which point we will retain anonymous data collected through the Service, including Activity Data, which may be used by Physics is Beautiful and shared with third parties in any manner. </span>
        </p>
        <p class="c1">
            <span class="c3">Please note that some of these rights are not absolute. In some cases, we may refuse a request to exercise particular rights if complying with it meant that we are no longer able to meet our contractual obligation to provide you with particular products and services. We will keep you informed as to the actions that we can take when you make your request. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="9">
            <li class="c7">
                <span class="c4">THIRD PARTY WEBSITES AND LINKS</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c3">Please note that you may have cookies placed on your computer by third party websites that refer you to our Service. Although we do not share your personal data with these third party websites unless it is reasonably necessary to offer the Service, they may be able to link certain non-personally identifiable information we transfer to them with personal data they previously collected from you. Please review the privacy policies of each website you visit to better understand their privacy practices. In addition, Physics is Beautiful would like to inform you that anytime you click on links (including advertising banners), which take you to third party websites, you will be subject to the third parties &rsquo;privacy policies.</span>
        </p>
        <p class="c1">
            <span class="c3">Our Services contain links to other sites operated by third parties. Physics is Beautiful does not control such other sites and is not responsible for their content, their privacy policies, or their use of personal data, including any personal or financial information collected by our third party payment processor to process payments for in-app purchases. Physics is Beautiful &rsquo;s inclusion of such links does not imply any endorsement of the content on such sites or of their owners or operators except as disclosed on the Services. Any information submitted by you directly to these third parties is subject to that third party &rsquo;s privacy policy.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="10">
            <li class="c7">
                <span class="c4">CHILDREN UNDER AGE OF DIGITAL CONSENT</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c3">You must be over the age required by the laws of your country to create an account or otherwise use the Services, or we need to have obtained verifiable consent from your parent or legal guardian. </span>
        </p>
        <p class="c1">
            <span class="c3">If you are under 13 years of age, then please do not use or access the Website at any time or in any manner. If Physics is Beautiful learns that personal information of persons under 13 years of age has been collected through the Website, then Physics is Beautiful will take the appropriate steps to delete this information.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="11">
            <li class="c7">
                <span class="c4">LINKS</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c3">The Service may contain links to other websites. We are not responsible for the privacy practices of other websites. We encourage users to be aware when they leave the Service to read the privacy statements of other websites that collect personally identifiable information. This Privacy Policy applies only to information collected by Physics is Beautiful via the Service.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="12">
            <li class="c0">
                <span class="c4">INFORMATION SECURITY</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c3">Physics is Beautiful has implemented administrative and technical safeguards it believes are appropriate to protect the confidentiality, integrity and availability of your personal data and access credentials. However, given sufficient resources, a determined attacker could defeat those safeguards and may, as a result, gain access to the data we seek to protect.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="13">
            <li class="c0">
                <span class="c4">DO NOT TRACK</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c3">The Service is not designed to respond to &ldquo;do not track &rdquo;signals sent by some browsers.</span>
        </p>
        <ol class="c5 lst-kix_list_1-0" start="14">
            <li class="c0">
                <span class="c4">CONTACT US</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c8">For all support inquiries, data privacy inquiries and any questions or concerns you have about this Privacy Policy, please contact us at &nbsp;</span>
            <span class="c2">
                <a class="c6" href="mailto:privacy@physicsisbeautiful.com">privacy@physicsisbeautiful.com</a>
            </span>
            <span class="c3">. </span>
        </p>
        <p class="c1 c13">
            <span class="c3"></span>
        </p>
        <p class="c16" id="h.gjdgxs">
            <span class="c9">LAST UPDATED ON SEPTEMBER 9, 2018</span>
        </p>
        <p class="c1 c13">
            <span class="c3"></span>
        </p>
    </div>
{% endblock %}
