.section-sheet .thumbnail .glyphicon { font-size:60px; }
.editor .section-sheet .thumbnail img {
    max-width:100%; 
    display: block;
    height: 60px;
}

.selectable-image { position:relative; }
.selectable-image input { position:absolute; width:100%; height:100%; left:0; top:0; opacity:0;}

.editor .section-sheet h1 { font-size:36px; }

.editor h1 .selectable-image, .editor h2 .selectable-image { display:inline; }
.editor h1 .selectable-image img, .editor h2 .selectable-image img { max-width:100px; }


.drop-target .dock-site { float:left; width:80px; height:150px; background:rgba(200, 200, 255, 0.8); }

.question-thumbnail img { max-width:100%; }

.editor .thumbnail img { max-width: 100%; }

.editor .conversion-steps { margin-top:20px; display:inline-block; font-size:20px; }
.editor .conversion-steps .conversion-step { border-right:1px solid black; display:inline-block;}
.editor .conversion-steps .conversion-step:last-child { border-right:none; }
.editor .conversion-steps .conversion-step .numerator { border-bottom:1px solid black; padding-right: 10px; }
.editor .conversion-steps .conversion-step .denominator { padding-right:10px; }
.editor .unit-conversion .add-remove-steps {font-size:10px; display:inline-block; text-align:left;}
.editor .unit-conversion .equals { font-size:60px; margin:0 10px; display:inline-block;}
.editor .unit-conversion .conversion-result { vertical-align:middle; display:inline-block; font-size:20px; height:60px;}
.editor .unit-conversion input { max-width: 80px; }
					      