@font-face {
    font-family: 'Tw Cen MT';
    src: url('typeface/hinted-TwCenMT-Regular.eot');
    src: url('typeface/hinted-TwCenMT-Regular.eot?#iefix') format('embedded-opentype'),
    url('typeface/hinted-TwCenMT-Regular.woff') format('woff'),
    url('typeface/hinted-TwCenMT-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    min-height: 100%;
}

body {

}
#front-page {
    background: url('images/Prague.jpg');
    background-size: cover;
    /*background-attachment: fixed;*/
    height:100%;
    background-position: center center;@media (max-width: @iphone-screen) {
    /*background-attachment: scroll;*/
    top: 0;
}

z-index:-1;

}

.navlink{
    color: white;
    text-decoration:none !important;
}
.navlink:hover{
    color: white;
}

.navbutton{
    background: rgba(193, 179, 179, 0.25);
    color: white;
    font-family: Tw Cen MT;
    font-weight: 200;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 20px;
    border-color: white;
    padding: 0px 30px;
    margin-top: 4px;
    transition: 0.3s;
}
.navbutton:active {
    background: rgba(255,255,255,.2);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.navbutton:hover {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.navbutton:focus {
    outline:none;
}

.card-body{
    color:black;
    transition:.2s;
}
.card-body:hover{
    color: #6880b8;
}
.card{
    transition:.2s;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #f7f7f7;
    font-size: 100px;
    text-align: center;
    font-family: Tw Cen MT;
    font-weight: bold;
}

.jumbotron p {
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 28px #AAA;
}

#getStartedButton {
    background: rgba(0,0,0,0.25);
    color: white;
    font-family: Tw Cen MT;
    font-weight: 200;
    font-size: 24px;
    border: 2px solid transparent;
    border-radius: 20px;
    border-color: white;
    padding: 0px 30px;
    margin: auto;
    margin-top: 100px;
    transition: 0.3s;
}

#getStartedButton:active {
    background: rgba(255,255,255,.2);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#getStartedButton:hover {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 25px;
    background: rgba(0, 0, 0, 0.61);
}
#getStartedButton:focus {
    outline:none;
}




@media all and (max-width: 1000px) {
    .jumbotron h1 {
        font-size: 75px;
    }
    .jumbotron p {
        font-size: 30px;
    }
}

@media all and (max-width: 600px) {
    .jumbotron h1 {
        font-size: 50px;
    }
    .jumbotron p {
        font-size: 20px;
    }
}

@media all and (max-width: 210px) {
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron p {
        font-size: 12px;
    }
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}