@font-face {
    font-family: 'Tw Cen MT';
    src: url('typeface/hinted-TwCenMT-Regular.eot');
    src: url('typeface/hinted-TwCenMT-Regular.eot?#iefix') format('embedded-opentype'),
    url('typeface/hinted-TwCenMT-Regular.woff') format('woff'),
    url('typeface/hinted-TwCenMT-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
}
p.justify{
    text-align:justify;
}

.article-date{
    float:right;
    font-weight: bold;
    font-size: smaller;
}
.container{
    position:relative;
    width:85%;
    margin-top: 10px;
    border-radius: 15px;
    padding: 60px;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 80%;
    background-color: white;
    box-shadow: 0 0 10px #d8d8d8;
}


.border-bottom{
    border-bottom: 3px solid #0fa5ff;
    margin-bottom: 25px;
}

.blog-title{
    color: #0fa5ff;
    font-family: Tw Cen MT;
    text-align: center;
    font-size: 40;
}

.blog-entry-image{
    width:100%;
}

.navbar.navbar-default button {
    background-color: rgba(240, 248, 255, 0);
}

.navbar-default .navbar-toggle {
    border-color: rgba(221, 221, 221, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media all and (max-width: 720px) { /*iPhone 5 optimization*/
    .container {
        margin: 0;
        width: 100%;
        padding:20px;
    }
    .blog-title{
        margin: 5px;
    }
    body .blog-entry-image{
        width:100%;
    }

    #navTopOfScreen{
        margin-bottom: 10px;
    }
}



