{% extends "blog/navbar.html" %}
{% load static %}

{% block ExtraHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
    <style>
        #pretty_table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #pretty_table td, #pretty_table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #pretty_table tr:nth-child(even){background-color: #f2f2f2;}

        #pretty_table tr:hover {background-color: #ddd;}
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 id='headline' class="headline">Analysis of the College Scorecard Data</h1>
        <div id = "story-meta-footer" class="story-meta-footer">
            <p id = "byline-dateline" class="byline-dateline">
                <span class="byline">By NICOLAS SCOZZARO</span><time class="dateline">March 18, 2017</time>
            </p>
        </div>
        <p class="justify">
            In September of 2015, President Obama <a href="https://youtu.be/Tpaj9Sm7i7I">announced</a> the release of data on all universities in the United States. The data includes "how much each school’s graduates earn, how much debt they graduate with, and what percentage of a school’s students can pay back their loans – which will help all of us see which schools do the best job of preparing America for success."
        </p>
        <p class="justify">
            So let's jump into the data and see what it tells us about how much each school’s graduates earn, how much debt they graduate with, and what percentage of a school’s students can pay back their loans. But first, to get some perspective on the issue of college debt, I want to address something we've all heard a lot about: <span style="text-decoration: underline;">the rising cost of college tuition</span>.
            There are many articles about this subject in publications such as the New York Times (ref <a href="https://nyti.ms/2oJYPq0">1</a>, <a href="https://nyti.ms/2jDbkDz">2</a>), The Washington Post (<a href="https://www.washingtonpost.com/news/wonk/wp/2015/04/07/college-tuition-is-getting-more-expensive-heres-whos-actually-to-blame/">ref</a>), Time Magazine (<a href="http://time.com/4472261/college-cost-history/">ref</a>), and others.
        </p>
        <p class="justify">
            In figure 1 I plot the average faculty salary vs the in-state tuition and fees at nearly every university in the United States. I've color-coded the universities by sector in order to make better sense of the data.
            An interactive version of this plot can be found on the app page <a href="{% url 'blog:collegescorecard' %}">here</a>.
        </p>
        <figure>
            <img src="{% static 'blog/images/college_scorecard/gif_of_salary_and_tuition/bokeh_plot.gif' %}"  width="100%" />
            <figcaption style="text-align: center;font-size:smaller;">
                <b>Fig. 1</b>  Dynamic plot of faculty salary vs in-state tuition and fees from 2001 to 2014. The dot colors are blue: public 2 year; green: public 4 year; orange: non-profit 4 year; red: non-profit 2 year; purple: for-profit 4 year; and brown: for-profit 2 year colleges. The tuition and fees at the most expensive schools in 2001 were about $28k/year in 2001, compared to around $50k in 2014. This is an increase in sticker price of roughly 80%, compared to inflation which caused a net increase of 39% from 2001 to 2014. An interactive version of the plot is on the app page <a href="{% url 'blog:collegescorecard' %}">here</a>.
            </figcaption>
        </figure>
        <br>
        <p class="justify">
            The increase in tuition and faculty salaries is striking. Take for example Columbia University in New York. In 2001, tuition and fees were $27k/year.
            In 2014 that number grew to $51k/year, an 89% increase. In the same period, inflation rose the value of the dollar by just 39%.
        </p>
        <p class="justify">
            Something else that catches the eye in figure 1 is the linearity of the non-profit 4 year college (orange) data.
            If we fit a line to the data, shown in figure 2, we find a slope of 1.62 -- this means that if tuition is raised by one dollar, on average the faculty salaries are raised by $1.62.
            This raises the question of how many students there are there per faculty member on average... when there's a tuition increase, what fraction of the additional revenue goes to faculty salaries?
            Although the CollegeScorecard data does not include the number of faculty per university (surprisingly it isn't one of the 1745 columns!), this information can be found in the Delta Cost Project database.
            The data reveals that for non-profit 4 year colleges there are on average 16.22 students per full time faculty member in 2012.
            Thus, out of the revenue generated by a tuition increased of one dollar, it appears that roughly 1/10 of that revenue goes towards paying the faculty more.
            This is a bit misleading because many of the top schools have lower student-faculty ratios, for example Harvard is 7:1, but I'll save a more in-depth analysis for another post.
        </p>
        <figure>
            <img src="{% static 'blog/images/college_scorecard/fitting_lines_to_salary_vs_tuition/fitting_lines_2014_with_offset.png' %}" width="100%"/>
            <figcaption style="text-align: center;font-size:smaller;">
                <b>Fig. 2</b>  Faculty salary vs. tuition and fees for 4-year non-profit universities.
                A line line of best-fit yields the equation: (faculty salary) = 1.62*(tuition and fees)+$21,723.
            </figcaption>
        </figure>
        <br>
        <p class="justify">
            Now that we have some perspective on tuition, let's return to how much each school’s graduates earn, and how much debt they graduate with.
            The CollegeScorecard data contains a column for "median earnings of students working and not enrolled 10 years after entry," and "the median original amount of the loan principal upon entering repayment."
            For brevity I'll refer to these as "earnings" and "debt", respectively. Note that here are many variations of these columns in the dataset if you're interested in exploring further.
        </p>
        <p class="justify">
            In figure 3 I plot earnings vs debt for all universities in the United States.
            This plot appears much more scattered, with less clumping by sector compared to the faculty salary vs tuition plot above.
            To interact with the data, please visit the interactive page <a href="{% url 'blog:collegescorecard' %}">here</a>, and select the appropriate columns.
        </p>
        <p class="justify">
            So which universities yield the highest-earning students?
            I assumed that the Ivy-League schools would pepper the top of this plot, but I was incorrect.
            In fact, the schools that produce the top-earners are medically-associated colleges.
            At the top of the list is the Louisiana State University Health Sciences Center-Shreveport, although this is slightly misleading considering they have a very small number of undergraduates (50 in 2012, currently 35 <a href="https://collegescorecard.ed.gov/school/?435000-Louisiana-State-University-Health-Sciences-Center-Shreveport">ref</a>).
            A list of the top-earning universities is given in table 1 (click the button below to show).
        </p>
        <p class="justify">
            The next question may be what does the opposite table look like?
            I.e., which universities are at the bottom of the list in terms of student earnings?
            Inspecting the bottom earning schools, I found that a number of schools in the bottom 30 listed "PrivacySuppressed", which means that the sample size was very small;
            so small, that a person might be able to identify the people whose salary data was used.
            I have excluded these universities from the list in table 2.
        </p>

        <figure>
            <img src="{% static 'blog/images/college_scorecard/earnings_vs_debt/earnings_vs_debt_with_legend.png' %}" width="100%"/>
            <figcaption style="text-align: center;font-size:smaller;">
                <b>Fig. 3</b>  Earnings vs. debt at all U.S. universities for which there is data in the year 2012.
            </figcaption>
        </figure>
        <br>
        <br>
        <a href="#top" class="btn btn-info" data-toggle="collapse">Top 30 universities by student earnings</a>
        <div id="top" class="collapse">
            <table border="1" style="text-align: center;" id = "pretty_table">
                <caption style="text-align: center; color:black;"><b>Table 1:</b> Top 30 universities by student earnings</caption>
                <thead style="text-align: center;">
                <tr style="text-align: center;">
                    <th></th>
                    <th style="text-align: center;">Institution name</th>
                    <th style="text-align: center;">Median earnings ($)</th>
                    <th style="text-align: center;">Total number of undergrads at institution</th>
                    <th style="text-align: center;">Sample size for earnings</th>
                </tr>
                </thead>
                <tbody style="text-align: center;">
                <tr>
                    <th>1</th>
                    <td>Louisiana State University Health Sciences Center</td>
                    <td>186500.0</td>
                    <td>50.0</td>
                    <td>70</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>SUNY Downstate Medical Center</td>
                    <td>128000.0</td>
                    <td>335.0</td>
                    <td>211</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Albany College of Pharmacy and Health Sciences</td>
                    <td>118800.0</td>
                    <td>1069.0</td>
                    <td>618</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>MCPHS University</td>
                    <td>113400.0</td>
                    <td>3587.0</td>
                    <td>1768</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Samuel Merritt University</td>
                    <td>108000.0</td>
                    <td>520.0</td>
                    <td>681</td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>University of Medicine and Dentistry of New Jersey</td>
                    <td>107100.0</td>
                    <td>974.0</td>
                    <td>1346</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>University of Texas Southwestern Medical Center</td>
                    <td>106900.0</td>
                    <td>33.0</td>
                    <td>36</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>University of the Sciences</td>
                    <td>95800.0</td>
                    <td>1782.0</td>
                    <td>968</td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Harvard University</td>
                    <td>95500.0</td>
                    <td>7207.0</td>
                    <td>873</td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Montefiore School of Nursing</td>
                    <td>89500.0</td>
                    <td>129.0</td>
                    <td>97</td>
                </tr>
                <tr>
                    <th>11</th>
                    <td>Massachusetts Institute of Technology</td>
                    <td>89200.0</td>
                    <td>4477.0</td>
                    <td>770</td>
                </tr>
                <tr>
                    <th>12</th>
                    <td>Los Angeles County College of Nursing and Allied Health</td>
                    <td>87200.0</td>
                    <td>208.0</td>
                    <td>117</td>
                </tr>
                <tr>
                    <th>13</th>
                    <td>Babson College</td>
                    <td>86700.0</td>
                    <td>2015.0</td>
                    <td>480</td>
                </tr>
                <tr>
                    <th>14</th>
                    <td>Thomas Jefferson University</td>
                    <td>86300.0</td>
                    <td>744.0</td>
                    <td>909</td>
                </tr>
                <tr>
                    <th>15</th>
                    <td>Cochran School of Nursing</td>
                    <td>86000.0</td>
                    <td>93.0</td>
                    <td>139</td>
                </tr>
                <tr>
                    <th>16</th>
                    <td>Stanford University</td>
                    <td>86000.0</td>
                    <td>6999.0</td>
                    <td>823</td>
                </tr>
                <tr>
                    <th>17</th>
                    <td>Upstate Medical University</td>
                    <td>85900.0</td>
                    <td>295.0</td>
                    <td>210</td>
                </tr>
                <tr>
                    <th>18</th>
                    <td>Helene Fuld College of Nursing</td>
                    <td>84200.0</td>
                    <td>354.0</td>
                    <td>442</td>
                </tr>
                <tr>
                    <th>19</th>
                    <td>Georgetown University</td>
                    <td>84000.0</td>
                    <td>7200.0</td>
                    <td>1870</td>
                </tr>
                <tr>
                    <th>20</th>
                    <td>Stevens Institute of Technology</td>
                    <td>83700.0</td>
                    <td>2542.0</td>
                    <td>991</td>
                </tr>
                <tr>
                    <th>21</th>
                    <td>United States Merchant Marine Academy</td>
                    <td>82000.0</td>
                    <td>987.0</td>
                    <td>116</td>
                </tr>
                <tr>
                    <th>22</th>
                    <td>University of Maryland  Baltimore</td>
                    <td>80700.0</td>
                    <td>722.0</td>
                    <td>617</td>
                </tr>
                <tr>
                    <th>23</th>
                    <td>Worcester Polytechnic Institute</td>
                    <td>80300.0</td>
                    <td>3841.0</td>
                    <td>1343</td>
                </tr>
                <tr>
                    <th>24</th>
                    <td>University of Pennsylvania</td>
                    <td>79700.0</td>
                    <td>10679.0</td>
                    <td>2570</td>
                </tr>
                <tr>
                    <th>25</th>
                    <td>Rensselaer Polytechnic Institute</td>
                    <td>79600.0</td>
                    <td>5300.0</td>
                    <td>2058</td>
                </tr>
                <tr>
                    <th>26</th>
                    <td>The California Maritime Academy</td>
                    <td>79400.0</td>
                    <td>971.0</td>
                    <td>373</td>
                </tr>
                <tr>
                    <th>27</th>
                    <td>DigiPen Institute of Technology</td>
                    <td>79400.0</td>
                    <td>963.0</td>
                    <td>430</td>
                </tr>
                <tr>
                    <th>28</th>
                    <td>Medical University of South Carolina</td>
                    <td>79400.0</td>
                    <td>204.0</td>
                    <td>747</td>
                </tr>
                <tr>
                    <th>29</th>
                    <td>Rose-Hulman Institute of Technology</td>
                    <td>79200.0</td>
                    <td>2097.0</td>
                    <td>690</td>
                </tr>
                <tr>
                    <th>30</th>
                    <td>Maine Maritime Academy</td>
                    <td>78800.0</td>
                    <td>968.0</td>
                    <td>430</td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
        <a href="#bottom" class="btn btn-info" data-toggle="collapse">Bottom 30 universities by student earnings</a>
        <div id="bottom" class="collapse">
            <table border="1" style="text-align: center;" id = "pretty_table">
                <caption style="text-align: center; color:black;"><b>Table 2:</b> Bottom 30 universities by student earnings</caption>
                <thead style="text-align: center;">
                <tr style="text-align: center;">
                    <th></th>
                    <th style="text-align: center;">Institution name</th>
                    <th style="text-align: center;">Median earnings ($)</th>
                    <th style="text-align: center;">Total number of undergrads at institution</th>
                    <th style="text-align: center;">Sample size for earnings</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1</th>
                    <td>Clinton College</td>
                    <td>12100.0</td>
                    <td>139.0</td>
                    <td>144.0</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Gallipolis Career College</td>
                    <td>14500.0</td>
                    <td>136.0</td>
                    <td>156.0</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>United Tribes Technical College</td>
                    <td>14800.0</td>
                    <td>505.0</td>
                    <td>227.0</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Mountain State College</td>
                    <td>14900.0</td>
                    <td>153.0</td>
                    <td>216.0</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Lincoln College of Technology-Franklin LCT</td>
                    <td>15200.0</td>
                    <td>76.0</td>
                    <td>3083.0</td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Lincoln College of Technology-Vine Street</td>
                    <td>15200.0</td>
                    <td>84.0</td>
                    <td>3083.0</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Huntington Junior College</td>
                    <td>16300.0</td>
                    <td>782.0</td>
                    <td>1031.0</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Long Island Business Institute</td>
                    <td>16500.0</td>
                    <td>491.0</td>
                    <td>236.0</td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>West Virginia Business College-Wheeling</td>
                    <td>16700.0</td>
                    <td>93.0</td>
                    <td>137.0</td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>National University College-Ponce</td>
                    <td>16800.0</td>
                    <td>985.0</td>
                    <td>3749.0</td>
                </tr>
                <tr>
                    <th>11</th>
                    <td>National University College-Arecibo</td>
                    <td>16800.0</td>
                    <td>1656.0</td>
                    <td>3749.0</td>
                </tr>
                <tr>
                    <th>12</th>
                    <td>National University College-Rio Grande</td>
                    <td>16800.0</td>
                    <td>1613.0</td>
                    <td>3749.0</td>
                </tr>
                <tr>
                    <th>13</th>
                    <td>National University College-Caguas</td>
                    <td>16800.0</td>
                    <td>492.0</td>
                    <td>3749.0</td>
                </tr>
                <tr>
                    <th>14</th>
                    <td>National University College-Bayamon</td>
                    <td>16800.0</td>
                    <td>3637.0</td>
                    <td>3749.0</td>
                </tr>
                <tr>
                    <th>15</th>
                    <td>Caribbean University-Ponce</td>
                    <td>17000.0</td>
                    <td>1222.0</td>
                    <td>1232.0</td>
                </tr>
                <tr>
                    <th>16</th>
                    <td>Caribbean University-Carolina</td>
                    <td>17000.0</td>
                    <td>779.0</td>
                    <td>1232.0</td>
                </tr>
                <tr>
                    <th>17</th>
                    <td>Caribbean University-Vega Baja</td>
                    <td>17000.0</td>
                    <td>530.0</td>
                    <td>1232.0</td>
                </tr>
                <tr>
                    <th>18</th>
                    <td>Caribbean University-Bayamon</td>
                    <td>17000.0</td>
                    <td>1597.0</td>
                    <td>1232.0</td>
                </tr>
                <tr>
                    <th>19</th>
                    <td>Michigan Jewish Institute</td>
                    <td>17800.0</td>
                    <td>1381.0</td>
                    <td>16.0</td>
                </tr>
                <tr>
                    <th>20</th>
                    <td>Delta School of Business and Technology</td>
                    <td>17800.0</td>
                    <td>235.0</td>
                    <td>358.0</td>
                </tr>
                <tr>
                    <th>21</th>
                    <td>Pontifical Catholic University of Puerto Rico-...</td>
                    <td>17900.0</td>
                    <td>605.0</td>
                    <td>3610.0</td>
                </tr>
                <tr>
                    <th>22</th>
                    <td>Pontifical Catholic University of Puerto Rico-...</td>
                    <td>17900.0</td>
                    <td>6073.0</td>
                    <td>3610.0</td>
                </tr>
                <tr>
                    <th>23</th>
                    <td>West Virginia Junior College-Bridgeport</td>
                    <td>17900.0</td>
                    <td>229.0</td>
                    <td>749.0</td>
                </tr>
                <tr>
                    <th>24</th>
                    <td>EDP University of Puerto Rico Inc-San Sebastian</td>
                    <td>17900.0</td>
                    <td>1143.0</td>
                    <td>589.0</td>
                </tr>
                <tr>
                    <th>25</th>
                    <td>Pontifical Catholic University of Puerto Rico-...</td>
                    <td>17900.0</td>
                    <td>1410.0</td>
                    <td>3610.0</td>
                </tr>
                <tr>
                    <th>26</th>
                    <td>EDP Univeristy of Puerto Rico Inc-San Juan</td>
                    <td>17900.0</td>
                    <td>1135.0</td>
                    <td>589.0</td>
                </tr>
                <tr>
                    <th>27</th>
                    <td>West Virginia Junior College-Charleston</td>
                    <td>17900.0</td>
                    <td>206.0</td>
                    <td>749.0</td>
                </tr>
                <tr>
                    <th>28</th>
                    <td>Huertas College</td>
                    <td>17900.0</td>
                    <td>1487.0</td>
                    <td>77.0</td>
                </tr>
                <tr>
                    <th>29</th>
                    <td>Centro de Estudios Multidisciplinarios-Humacao</td>
                    <td>18000.0</td>
                    <td>785.0</td>
                    <td>249.0</td>
                </tr>
                <tr>
                    <th>30</th>
                    <td>Centro de Estudios Multidisciplinarios-San Juan</td>
                    <td>18000.0</td>
                    <td>1243.0</td>
                    <td>249.0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <p class="justify">
            The data show that Clinton College (South Carolina, historically black college) is at the very bottom of the list in terms of student earnings.
            The second is Gallipolis Career College, and I've included an image <a href="#gallipolis" data-toggle="collapse">here.</a>
        <div id="gallipolis" class="collapse">
            <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1492633418213!6m8!1m7!1suUt4YFfEaTVoaCelAIb_Ow!2m2!1d38.84247699323196!2d-82.2565103772694!3f327.6927794833026!4f-2.246546574696765!5f2.4123002856815123" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
        </div>

        </p>
        <p class="justify">
            There are also a handful of schools in Puerto Rico, tribal colleges, and a few "business" schools filling the list.
            But something else caught my eye, from exploring the interactive version of the graph.
            In figure 4 I have filtered for university names that contain art, design, music, or conservatory in the name of the university.
            It's readily seen that most of these universities fall below $50k in earnings, and in fact the average value is $36,203.
        </p>
        <figure>
            <img id="art-school" src="{% static 'blog/images/college_scorecard/earnings_vs_debt/earnings_vs_debt_art_schools.png' %}" width="100%"/>
            <figcaption style="text-align: center;font-size:smaller;">
                <b>Fig. 4</b>  Earnings vs. debt for universities that contain art, design, music, or conservatory in the name of the university.
            </figcaption>
        </figure>
        <br>
        <p class="justify">
            I next used scikit-learn to predict the next colleges that are most likely to fail.
            My approach is to use the data about universities that have closed in order to predict which other universities which are most like them, and thus likely to fail.
            I trained a Random Forest model which I trained using a grid search, and which yields about 96% overall accuracy.
        </p>
        <a href="#fail" class="btn btn-info" data-toggle="collapse">Universities most likely to fail</a>
        <div id="fail" class="collapse">
            <table border="1" style="text-align: center;" id = "pretty_table">
                <caption style="text-align: center; color:black;"><b>Table 1:</b> Top 30 universities by student earnings</caption>
                <thead style="text-align: center;">
                <tr style="text-align: center;">
                    <th></th>
                    <th>Institution name</th>
                    <th>Heightened cash monitoring</th>
                    <th>Probability closed</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1</th>
                    <td>Southern California University SOMA</td>
                    <td>1.0</td>
                    <td>0.806655</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Institute of Clinical Acupuncture &amp; Oriental Med</td>
                    <td>0.0</td>
                    <td>0.514355</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>American National University-Lexington</td>
                    <td>1.0</td>
                    <td>0.429721</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Ultrasound Medical Institute</td>
                    <td>1.0</td>
                    <td>0.426612</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Monroe College</td>
                    <td>0.0</td>
                    <td>0.421557</td>
                </tr>
                <tr>
                    <th>6</th>
                    <td><a href="http://wsau.com/news/articles/2016/dec/23/globe-university-closing-wis-schools/">Globe University–Wausau</a> </td>
                    <td>0.0</td>
                    <td>0.322627</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Instituto Tecnologico de Puerto Rico-Recinto d...</td>
                    <td>0.0</td>
                    <td>0.322036</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td><a href="http://5newsonline.com/2017/01/06/ecclesia-college-responds-to-reports-of-involvement-in-bribery-scheme-investigation/">Ecclesia College</a> </td>
                    <td>1.0</td>
                    <td>0.303765</td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Globe University-Madison East</td>
                    <td>0.0</td>
                    <td>0.301356</td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Globe University-Sioux Falls</td>
                    <td>0.0</td>
                    <td>0.296969</td>
                </tr>
                <tr>
                    <th>11</th>
                    <td>Brown Mackie College-Miami</td>
                    <td>0.0</td>
                    <td>0.289619</td>
                </tr>
                <tr>
                    <th>12</th>
                    <td>Stevens-Henager College</td>
                    <td>0.0</td>
                    <td>0.287017</td>
                </tr>
                <tr>
                    <th>13</th>
                    <td>Oxford Graduate School</td>
                    <td>0.0</td>
                    <td>0.270720</td>
                </tr>
                <tr>
                    <th>14</th>
                    <td>Fortis College-Centerville</td>
                    <td>0.0</td>
                    <td>0.269408</td>
                </tr>
                <tr>
                    <th>15</th>
                    <td>IGlobal University</td>
                    <td>0.0</td>
                    <td>0.265926</td>
                </tr>
                <tr>
                    <th>16</th>
                    <td>Instituto Tecnologico de Puerto Rico-Recinto d...</td>
                    <td>0.0</td>
                    <td>0.256295</td>
                </tr>
                <tr>
                    <th>17</th>
                    <td>Herzing University-Atlanta</td>
                    <td>0.0</td>
                    <td>0.253669</td>
                </tr>
                <tr>
                    <th>18</th>
                    <td>Technical Career Institutes</td>
                    <td>0.0</td>
                    <td>0.250084</td>
                </tr>
                <tr>
                    <th>19</th>
                    <td>American InterContinental University-Atlanta</td>
                    <td>0.0</td>
                    <td>0.244845</td>
                </tr>
                <tr>
                    <th>20</th>
                    <td>Los Angeles Film School</td>
                    <td>0.0</td>
                    <td>0.241422</td>
                </tr>
                <tr>
                    <th>21</th>
                    <td>DeVry University-Oklahoma</td>
                    <td>0.0</td>
                    <td>0.239483</td>
                </tr>
                <tr>
                    <th>22</th>
                    <td>University of Phoenix-Connecticut</td>
                    <td>0.0</td>
                    <td>0.235022</td>
                </tr>
                <tr>
                    <th>23</th>
                    <td>DeVry University-Pennsylvania</td>
                    <td>0.0</td>
                    <td>0.232032</td>
                </tr>
                <tr>
                    <th>24</th>
                    <td>Expression College for Digital Arts</td>
                    <td>0.0</td>
                    <td>0.228275</td>
                </tr>
                <tr>
                    <th>25</th>
                    <td>The Art Institute of New York City</td>
                    <td>0.0</td>
                    <td>0.222006</td>
                </tr>
                <tr>
                    <th>26</th>
                    <td>Sanford-Brown College-Chicago</td>
                    <td>0.0</td>
                    <td>0.219967</td>
                </tr>
                <tr>
                    <th>27</th>
                    <td>Institute of Production and Recording</td>
                    <td>0.0</td>
                    <td>0.218016</td>
                </tr>
                <tr>
                    <th>28</th>
                    <td>The Art Institute of Atlanta</td>
                    <td>0.0</td>
                    <td>0.212843</td>
                </tr>
                <tr>
                    <th>29</th>
                    <td>Rabbinical College of Ohr Shimon Yisroel</td>
                    <td>0.0</td>
                    <td>0.212571</td>
                </tr>
                <tr>
                    <th>30</th>
                    <td>Strayer University-Mississippi</td>
                    <td>0.0</td>
                    <td>0.211138</td>
                </tr>
                </tbody>
            </table>
        </div>

        <p class="justify">
            To look at the importance of the different variables that are most important, I retrained the model with just one variable at a time.
            For example, I retrained the model using just tuition, and looked at the average score, then with faculty salary, etc.
            I find that the most important variables are as follows:
        <ol>
            <li>Heightened cash monitoring</li>
            <li>Tuition</li>
            <li>Total cost</li>
            <li>Three-year student default rate</li>
            <li>Percent Pell grant recipients</li>
            <li>Institution educational expenditures per student</li>
        </ol>
        </p>


        <p class="justify">
            The last piece that I would like to investigate is what fraction of students can pay back their loans at each university, but I'll have to save it for another post.
            This can give us an indication of which universities are taking advantage of students who can't afford the loans that they take out.
        </p>

        <p class="justify">
            In conclusion, these data show that rising tuition costs are far out-pacing inflation.
            Furthermore, they expose that the median salaries for students who attend undergraduate medical/nursing schools are amongst the highest; some even higher than Ivy-League graduates.
            And lastly, they show that in fact going to art or music school probably isn't the best decision if you're looking to maximize your future earning potential.
            The choice is yours!
        </p>
        <script>
            $("#art-school").click(function(){
                if (!$(this).hasClass('play')) {
                    $(this).attr('src', '{% static 'blog/images/college_scorecard/earnings_vs_debt/earnings_vs_debt_with_legend.png' %}');
                    $(this).addClass('play');
                } else  {
                    $(this).attr('src', '{% static 'blog/images/college_scorecard/earnings_vs_debt/earnings_vs_debt_art_schools.png' %}');
                    $(this).removeClass('play');
                }
            });
        </script>

    </div>
{% endblock %}
