{% load static %}

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'blog/images/favicon/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/navbar.css' %}" />

    {# Mathjax#}
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    {# JQuery #}
    <script src="{% static 'blog/jquery/jquery.min.js' %}"></script>

    {# Bootstrap CSS #}
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {# Bootstrap JS #}
    <script src="{% static 'blog/bootstrap/bootstrap.min.js' %}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% block ExtraHead %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<nav id="navTopOfScreen" class="navbar navbar-default navbar-static-top"><!-- navbar-fixed-top -->
    <div class="container-fluid">
        <div class="navbar-header">
            {# Physics is Beautiful logo #}
            <a class="navbar-brand" href="/">
                <span class="nb-drop-level-1">
                    Physics is
                </span>
                <span style="white-space: nowrap;">
                    <span class="nb-drop-level-1"> beauti</span>\(\!\int\!\)<span class="nb-drop-level-1">ul.</span>
                </span>
            </a>
            {# Toggle which appears only on small screens/mobile with three icon-bar lines #}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        {# Options which are displayed inline on the bar on desktop, or in the toggle menu for mobile #}
        <div id="navbar" class="navbar-collapse collapse">

        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block content %} {% endblock %}
