{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% get_providers as socialaccount_providers %}


<script type="text/javascript" src="{% static "pib_auth/js/modal.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'pib_auth/css/auth.css' %}" />
{% if user.is_authenticated %}
    <div class="hidden">
        <form id="logout-form" method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <input type='hidden' value='submit'>
        </form>
    </div>
{% else %}
    <div class="modal fade auth-modal" id="login-modal" role="dialog">
        <div class="modal-dialog" role"document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form action="{% url 'account_login' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ redirect_to }}" />
                        <div clas="form-group row">
                            <label for="id_login">Email:</label>
                            <input name="login" type="text" class="form-control" id="id_login" placeholder="email" required>
                        </div>
                        <div clas="form-group row">
                            <label for="id_password">Password:</label>
                            <input name="password" type="password" class="form-control" id="id_password" placeholder="password" required>
                        </div>
                        <div clas="form-group row">
                            <label for="id_remember">Remember Me:</label>
                            <input name="remember" type="checkbox" class="form-check" id="id_remember">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Login"/>
                        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </form>
                </div>
                <div class="container">OR</div>
                <div>
                    <a title="{{socialaccount_providers.0.name}}" class="btn btn-outline-primary socialaccount_provider {{socialaccount_providers.0.id}} {{brand.id}}"
                       href="{% provider_login_url socialaccount_providers.0.id process=process scope=scope auth_params=auth_params %}">
                        {{ socialaccount_providers.0.name }}
                    </a>
                    /
                    <a title="{{socialaccount_providers.1.name}}" class="btn btn-outline-primary socialaccount_provider {{socialaccount_providers.1.id}} {{brand.id}}"
                       href="{% provider_login_url socialaccount_providers.1.id process=process scope=scope auth_params=auth_params %}">
                        {{ socialaccount_providers.1.name }}
                    </a>
                </div>

            </div>
            <div class="modal-footer">
                Don't have an account?
                <button class="btn btn-primary auth-modal-swap" data-toggle="modal">Signup &#62;&#62;</button>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade auth-modal" id="signup-modal" role="dialog">
        <div class="modal-dialog" role"document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Signup</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <a title="{{socialaccount_providers.0.name}}" class="btn btn-outline-primary socialaccount_provider {{socialaccount_providers.0.id}} {{brand.id}}"
                           href="{% provider_login_url socialaccount_providers.0.id process=process scope=scope auth_params=auth_params %}">
                            <img class="social-image" src="{% static 'homepage/images/facebook_login.png' %}" alt="{{ socialaccount_providers.0.name }}">
                        </a>
                        <a title="{{socialaccount_providers.1.name}}" class="btn btn-outline-primary socialaccount_provider {{socialaccount_providers.1.id}} {{brand.id}}"
                           href="{% provider_login_url socialaccount_providers.1.id process=process scope=scope auth_params=auth_params %}">
                            <img class="social-image" src="{% static 'homepage/images/google_login.png' %}" alt="{{ socialaccount_providers.1.name }}" >
                        </a>
                    </div>
                    <br>
                    <div class="container">OR</div>
                    <br>
                    <form action="{% url 'account_signup' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ redirect_to }}" />
                        <div class="form-group">
                            <input name="first_name" type="text" class="form-control" id="id_firstname" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <input name="last_name" type="text" class="form-control" id="id_lastname" placeholder="Last name">
                        </div>
                        <div class="form-group">
                            <input name="email" type="text" class="form-control" id="id_email" placeholder="Email address" required>
                        </div>
                        <div class="form-group">
                            <input name="password1" type="password" class="form-control" id="id_password1" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <input name="password2" type="password" class="form-control" id="id_password2" placeholder="Password (again)" required>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" class="form-check" name="remember" id="id_remember"> Remember me</label>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Signup</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                Already have an account?
                <button class="btn btn-primary auth-modal-swap" data-toggle="modal">Login &#62;&#62;</button>
            </div>
        </div>
    </div>
    </div>
{% endif %}
