{% extends "pib/ProblemPageBase.html" %}
{% load static %}


{% block ExtraExtraHead %}
    <script type="text/javascript">
        drawvectorDjango = "{{drawvector |safe }}";
    </script>
    <script type="text/javascript" src="{% static 'pib/Fabric/fabric.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'pib/ProblemTypes/DrawVector.js' %}"></script>
{% endblock %}


{% block LHS %}
    <h1 id='ajaxDiv'>{{drawvector.question_text}}</h1>
    {% if drawvector.image %}
        <div class="thumbnail"><img src=" /{{ drawvector.image.url }}"></div>
    {% endif %}
{% endblock LHS %}


{% block RHS %}
    <canvas id="c" width="300px" height="300px" style="border:1px solid #ccc"></canvas>
    <div class="button-group" id="vectorButton">
        <a class="btn btn-primary" id="button">Check</a>
    </div>
{% endblock RHS %}
