{% extends "navbar.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block extrahead %}
{# moved to navbar.html #}
{#<link rel="stylesheet" type="text/css" href="{% static 'curricula/style.css' %}" />#}
<link rel="stylesheet" type="text/css" href="{% static 'editor/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'curricula/mathquill-0.10.1/mathquill.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'curricula/pure-checkbox.css' %}" />
{#<script src="{% static 'js/csrf.js' %}"></script> moved to navbar #}
<script src="{% static 'curricula/mathquill-0.10.1/mathquill.js' %}"></script>
<script type="text/javascript" src="{% static 'curricula/Fabric/fabric.min.js' %}"></script>

{#  reack slick  #}
<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

{% endblock extrahead %}

{% block body_content %}
<div id="editor-app" class="editor">
    {% render_bundle 'editor' %}
</div>
{% endblock %}
