{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}

{% get_providers as socialaccount_providers %}

    <head>
        <link rel="stylesheet" href="{% static 'allauth/login.css' %}">
    </head>

    <div class="auth-modal" id="login-modal" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>

            <div class="modal-body">
                <div style="display: table; margin: 0 auto;">
                    <a title="{{socialaccount_providers.0.name}}" class="socialaccount_provider {{socialaccount_providers.0.id}} {{brand.id}}"
                       href="{% provider_login_url socialaccount_providers.0.id process=process scope=scope auth_params=auth_params %}">
                        <img class="social-image" src="{% static 'homepage/images/facebook_login.png' %}" alt="{{ socialaccount_providers.0.name }}">
                    </a>
                    <a title="{{socialaccount_providers.1.name}}" class="socialaccount_provider {{socialaccount_providers.1.id}} {{brand.id}}"
                       href="{% provider_login_url socialaccount_providers.1.id process=process scope=scope auth_params=auth_params %}">
                        <img class="social-image" src="{% static 'homepage/images/google_login.png' %}" alt="{{ socialaccount_providers.1.name }}" >
                    </a>
                </div>
                <div class="hr-sect">OR</div>
                <div>
                    <form class="form-signin" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}

                        <div class="form-group">
                            {{ form.email.errors }}
                            <label for="id_email">Email</label>
                            {% if form.email.value %}
                            <input tabindex=1 name="email" type="text" class="form-control" id="id_email" placeholder="Email address" value="{{ form.email.value }}" required>
                            {% else %}
                            <input tabindex=1 name="email" type="text" class="form-control" id="id_email" placeholder="Email address" required>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_email">Password</label>
                            <a class="button secondaryAction" style="float:right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            {{ form.password.errors }}
                            <input tabindex=2 name="password" type="password" class="form-control" id="id_password" placeholder="Password" required>
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-group">
                            <div class="checkbox">
                                <label id="label_remember">
                                    <input tabindex=3 type="checkbox" class="form-check" name="remember" id="id_remember" />
                                    <span>Remember me</span>
                                </label>
                            </div>
                        </div>
                        <button tabindex=4 class="btn btn-primary primaryAction" type="submit">{% trans "Login" %}</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                Don't have an account?
                <button onclick="top.location.href='/accounts/signup'" class="btn btn-primary auth-modal-swap" data-toggle="modal">Sign Up &#62;&#62;</button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
