{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<div class="auth-modal" id="login-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>
            </div>

            <div class="modal-body">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action=".">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ form.password1.errors }}
                                <label for="id_password1">New Password</label>
                                <input tabindex=1 name="password1" type="password" class="form-control" id="id_password1" placeholder="New Password" required>
                            </div>
                            <div class="form-group">
                                {{ form.password2.errors }}
                                <label for="id_password2">New Password (again)</label>
                                <input tabindex=2 name="password2" type="password" class="form-control" id="id_password2" placeholder="New Password (again)" required>
                            </div>
                            <input class="btn btn-primary primaryAction" type="submit" name="action" value="{% trans 'Change Password' %}"/>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
