{% extends "navbar.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block extrahead %}
{# moved to navbar.html #}
{#<link rel="stylesheet" type="text/css" href="{% static 'curricula/style.css' %}" /> #}
<link rel="stylesheet" type="text/css" href="{% static 'classroom/style.css' %}" />
{#<link rel="stylesheet" type="text/css" href="{% static 'curricula/mathquill-0.10.1/mathquill.css' %}"/>#}
{#<script type="text/javascript" src="{% static 'curricula/Fabric/fabric.min.js' %}"></script>#}
{% endblock extrahead %}

{% block body_content %}
<div id="react-app" class="classroom">
    {% render_bundle 'classroom' %}
</div>
{% endblock %}
