{% extends "navbar.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'curricula/style.css' %}" /> {#TODO move to navbar#}
<link rel="stylesheet" type="text/css" href="{% static 'resources/style.css' %}" />
{#<link rel="stylesheet" type="text/css" href="{% static 'curricula/mathquill-0.10.1/mathquill.css' %}"/>#}
{#<script type="text/javascript" src="{% static 'curricula/Fabric/fabric.min.js' %}"></script>#}


{#  pagedown editor  #}
<link href="{% static 'pagedown/demo/browser/demo.css' %}" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{% static 'pagedown/Markdown.Converter.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown-extra/pagedown/Markdown.Converter.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown/Markdown.Sanitizer.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown/Markdown.Editor.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown-extra/Markdown.Extra.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown_init.js' %}"></script>


{% endblock extrahead %}

{% block body_content %}
<div id="react-app" class="resources">
    {% render_bundle 'resources' %}
</div>
{% endblock %}
