{% load static %}
<div class="container-fluid" style="background: #f1f1f1">
    <div class="container mt-3">
        <footer class="pt-4 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="{% static 'homepage/images/favicon/favicon-32x32.png' %}" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">© 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="{% url 'blog:bloghomepage' %}">Blog</a></li>
                        <li><a class="text-muted" href="{% url 'blog:shankar' %}">Shankar</a></li>
{#                        <li><a class="text-muted" href="{% url 'blog:collegescorecard' %}">College scorecard</a></li>#}
                        <li><a class="text-muted" href="{% url 'blog:collegescorecard-analysis' %}">College analysis</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="{% url 'homepage:about' %}">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="{% url 'homepage:privacy' %}">Privacy Policy</a></li>
                        <li><a class="text-muted" href="{% url 'homepage:terms' %}">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>