{% load render_bundle from webpack_loader %}
{% load static %}
{% load auth_tags %}

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'curricula/images/favicon/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'curricula/navbar.css' %}" />

    {# Mathjax#}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    {# JQuery #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    {# Bootstrap CSS #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {# Bootstrap JS #}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1780955227395785",
            enable_page_level_ads: true
        });
    </script>
    {% include 'sound.html' %}
    {% block ExtraHead %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-96737260-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>


<nav id="navTopOfScreen" class="navbar navbar-default navbar-static-top"><!-- navbar-fixed-top -->
    <div class="container-fluid">
        <div class="navbar-header">
            {# Physics is Beautiful logo #}
            <a class="navbar-brand" href="/">
                <span class="nb-drop-level-1">
                    Physics is
                </span>
                <span style="white-space: nowrap;">
                    <span class="nb-drop-level-1"> beauti</span>\(\!\int\!\)<span class="nb-drop-level-1">ul.</span>
                </span>
            </a>
            {# Toggle which appears only on small screens/mobile with three icon-bar lines #}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        {# Options which are displayed inline on the bar on desktop, or in the toggle menu for mobile #}
        <div id="navbar" class="navbar-collapse collapse">
            <ul id="react-profile-modal" class="nav navbar-nav navbar-right nav-pills">
                {% render_bundle 'profile' %}
                {% if user.is_authenticated %}
     	        <li class="nav-item"><a href="{% url 'editor' %}">Curriculum</a></li>
	        {% endif %}
                <li class="nav-item"><a  href="{% url 'blog:bloghomepage' %}">Blog</a></li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a id="logout-action" href="#">Logout</a>
                    {% else %}
                        <a id="login-signup-link" data-toggle="modal" data-target="#signup-modal">Create a profile</a>
                    {% endif %}
                </li>
                {#                <li class="nav-item"><a  href="{% url 'blog:bloghomepage' %}">Blog</a></li>#}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% auth_modal user request.get_full_path %}

{% block content %} {% endblock %}
