<!DOCTYPE html>
{% extends BASE_TEMPLATE %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load djeddit_tags %}
{% block title %}
    <div class="">
        <h3 id="discussion-title">Discussion</h3>

        <div class="btn-group discussion-toolbar" role="group" aria-label="Discussion Toolbar">
            <button onclick="window.location = '{% url "topics" %}'" type="button" class="btn btn-secondary">All Topics</button>
            <button onclick="window.location = '{% url "createThreadWithoutTopic" %}'" type="button" class="btn btn-secondary">New Thread <i class="fas fa-pen"></i></button>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div>
        <ul class="list-group">
            {% for thread in threads %}
                {% include 'djeddit/thread_item.html' %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'djeddit/js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'djeddit/js/topic.js' %}"></script>
{% endblock %}
