<!DOCTYPE html>
{% load djeddit_tags %}
{% load mptt_tags %}
{% load markdown_deux_tags %}

<div class="row">
    <div class="post-callout">
        <div id="{{ node.uid }}" class="post-container bs-callout">
            {% if node != thread.op %}
                <div class="post-heading">
                    <i class="far fa-minus-square text-muted toggle-replies"
                       onclick="window.postFuncs.toggleReplies('{{ node.uid }}')"></i>
                    <div class="djeddit-created-by"> 
                        {% if node.created_by %}
{#                            <a href="{% url 'userSummary' node.created_by %}">{% postUserName node.created_by %}</a>#}
                            <a href="{% url 'userSummary' node.created_by.pk %}">{% postUserName node.created_by %}</a>
                        {% else %}
                            {% postUserName node.created_by %}
                        {% endif %}
                    </div>

                    {# <h6 class="text-muted post-score">{% postScore node.score %}</h6> #}
                    <h6>
{#                      {% if node.created_on != node.modified_on %}#}
                        {% if node.modified_on %}
                            {% postDate node.modified_on %}
                            (edited)
                        {% endif %}
                    </h6>
                </div>
            {% else %}
            <div class="text-muted inline djeddit-thread-submitted-by-verbose">
                <div class="djeddit-date-verbose"> Submitted by </div>
                <a href="{% url "userSummary" thread.op.created_by.pk %}">{% postUserName thread.op.created_by %}</a> 
                <div class="djeddit-date-verbose">
                    &middot;
                    {% postDate thread.op.created_on 'on ' %}
                </div>
                <div class="djeddit-date-silly">
                    &middot;
                    {% postDate thread.op.created_on 'on ' False%}
                </div>
            </div>
            {% endif %}
            <div class="bs-callout-main djeddit-callout" style="border:none">
                {% if node == thread.op %}
                <div class="minicol">
                    {% if user.is_authenticated %}
                    <i class="fas fa-chevron-up djeddit-score-upvote-large {% postVoteClicked user thread.op True %} " 
                        onclick="javascript:window.postFuncs.votePost(this, '{{ thread.op.uid }}', true, $(this).hasClass('color-primary'), '{% url "votePost" %}')"></i>
                    <div class="{% postVoteColor user thread.op %} djeddit-score-number-large">{{ thread.op.score }}</div>
                    <i class="fas fa-chevron-down djeddit-score-downvote-large {% postVoteClicked user thread.op False %}"
                        onclick="javascript:window.postFuncs.votePost(this, '{{ thread.op.uid }}', $(this).hasClass('color-primary'), true, '{% url "votePost" %}')"></i>
                    {% else %}
                    <i class="fas fa-chevron-up djeddit-score-upvote-large" 
                        onclick="javascript:window.postFuncs.loginNeeded()"></i>
                    <div class="djeddit-score-number-large">{{ thread.op.score }}</div>
                    <i class="fas fa-chevron-down djeddit-score-downvote-large"
                        onclick="javascript:window.postFuncs.loginNeeded()"></i>
                    {% endif %}
                </div> 
                {% endif %}
                <div class="postcol">
                    <div class="post-content">{{ node.content | markdown }}</div>
                    <div class="djeddit-post-item-footer">
                        {% if node != thread.op %}
                        <div class="djeddit-score">
                            {% if user.is_authenticated %}
                            <i class="fas fa-arrow-up djeddit-score-upvote {% postVoteClicked user node True %} " 
                                onclick="javascript:window.postFuncs.votePost(this, '{{ node.uid }}', true, $(this).hasClass('color-primary'), '{% url "votePost" %}')"></i>
                            <span class="{% postVoteColor user node %} djeddit-score-number">{{ node.score }}</span>
                            <i class="fas fa-arrow-down djeddit-score-downvote {% postVoteClicked user node False %}"
                                onclick="javascript:window.postFuncs.votePost(this, '{{ node.uid }}', $(this).hasClass('color-primary'), true, '{% url "votePost" %}')"></i>
                            {% else %}
                            <i class="fas fa-arrow-up djeddit-score-upvote" 
                                onclick="javascript:window.postFuncs.loginNeeded()"></i>
                            <span class="djeddit-score-number">{{ node.score }}</span>
                            <i class="fas fa-arrow-down djeddit-score-downvote"
                                onclick="javascript:window.postFuncs.loginNeeded()"></i>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="djeddit-score-op">
                            {% if user.is_authenticated %}
                            <i class="fas fa-arrow-up djeddit-score-upvote {% postVoteClicked user node True %} " 
                                onclick="javascript:window.postFuncs.votePost(this, '{{ node.uid }}', true, $(this).hasClass('color-primary'), '{% url "votePost" %}')"></i>
                            <span class="{% postVoteColor user node %} djeddit-score-number">{{ node.score }}</span>
                            <i class="fas fa-arrow-down djeddit-score-downvote {% postVoteClicked user node False %}"
                                onclick="javascript:window.postFuncs.votePost(this, '{{ node.uid }}', $(this).hasClass('color-primary'), true, '{% url "votePost" %}')"></i>
                            {% else %}
                            <i class="fas fa-arrow-up djeddit-score-upvote" 
                                onclick="javascript:window.postFuncs.loginNeeded()"></i>
                            <span class="djeddit-score-number">{{ node.score }}</span>
                            <i class="fas fa-arrow-down djeddit-score-downvote"
                                onclick="javascript:window.postFuncs.loginNeeded()"></i>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="btn-group btn-group-xs fixed-50" role="group">
                            {% if node.created_by == user or user.is_superuser %}
                                <button onclick="window.postFuncs.toggleEditForm('{{ node.uid }}', undefined, {% toggleHeader thread node user %})" class="btn btn-secondary" {% if thread.locked %}disabled{% endif %}>
                                    Edit
                                </button>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <button onclick="window.postFuncs.togglePostForm('{{ node.uid }}', this, '{% url 'replyPost' %}')" class="btn btn-secondary" {% if thread.locked %}disabled{% endif %}>
                                Reply
                            </button>
                            {% endif %}
                            {% if node.parent %}
                                <button onclick="location.href='#{{ node.parent.uid }}'" class="btn btn-secondary">
                                    Parent
                                </button>
                            {% endif %}
                            {% if user.is_superuser %}
                                <button onclick="window.postFuncs.deletePost('{{ node.uid }}', {% isOp thread node %})" class="btn btn-secondary">
                                    Delete
                                </button>
                                {% if node == thread.op %}
                                    <button onclick="window.location = window.util.mobileUrl('{% url 'lockThread' thread.id %}')" class="btn btn-secondary">
                                        {% if not thread.locked %}Lock{% else %}Unlock{% endif %}
                                    </button>
                                    <button onclick="window.location = window.util.mobileUrl('{% url 'stickyThread' thread.id %}')" class="btn btn-secondary btn-width-auto">
                                        {% if thread.is_stickied %}Remove Sticky{% else %}Sticky{% endif %}
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if useRecursionTree and not node.is_leaf_node %}
                {{ children }}
                {% with node|missingRepliesCount:node.getChildrenList as missingCount %}
                    {% if missingCount %}
                        <div class="full-line additional-replies" style="margin-left:15px">
                            <br>
                            <a href="javascript:window.postFuncs.loadAdditionalReplies(
                            $('#comments-callout').find('#' + '{{ node.uid }}').find('>.additional-replies'), '{{ node.uid }}')">
                                Load {% getAmount missingCount 'comment' infix='more' %}
                            </a>
                        </div>
                    {% endif %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
</div>
