<!DOCTYPE html>
{% load djeddit_tags %}
<li class="list-group-item" onclick="window.location=window.util.mobileUrl('{% url 'topicPage' topic.urlTitle %}')">
    <div class="row">
        <div class="col-sm-1 hidden-xs col-icon hover-point djeddit-topic-container" onclick="window.location=window.util.mobileUrl('{% url 'topicPage' topic.urlTitle %}')">
            <i class="far fa-comments fa-2x"></i>
        </div>
        <div class="col-sm-10 list-group-item-main-col">
            <a href="{% url 'topicPage' topic.urlTitle %}">
                <h4 class="inline">{{ topic.title }}</h4>
            </a>
            <br>
            <div class="text-muted inline full-line">
                {% firstLine topic.description 90 %}
                <span class="djeddit-count-box-overflow">
                    &middot;
                    {{ topic.getThreadCount }}
                    {% if topic.getThreadCount == 1 %}
                    Thread
                    {% else %}
                    Threads
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col-xs-1" style="margin-left: auto">
            <div class="count-box" onclick="window.location=window.util.mobileUrl('{% url 'topicPage' topic.urlTitle %}')">
                <div class="count-box-score text-muted">{{ topic.getThreadCount }}</div>
                <div class="count-box-context text-muted">Threads</div>
            </div>
        </div>
    </div>
</li>