<!DOCTYPE html>
{% extends BASE_TEMPLATE %}
{% load staticfiles %}
{% load djeddit_tags %}
{% load crispy_forms_tags %}
{% block title %}
    <h2 id="pageTitle">Topics</h2>
    {% if user.is_superuser %}
        <div class="btn-group discussion-toolbar" role="group" aria-label="Discussion Toolbar">
            <div class="btn-group mr-2" role="group" aria-label="First group">
            <button onclick="window.location = window.util.mobileUrl('{% url "discussion" %}')" class="btn btn-secondary">Home<i class="fas fa-home"></i></button>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                Topics <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    {% for list_topic in topics %}
                        <li><a href="{% url 'topicPage' list_topic.urlTitle %}" data-toggle="tooltip" data-placement="right" title="{{ list_topic.description }}">{{ list_topic }}</a></li>
                    {% endfor %}
                    <li class="divider"></li> 
                    <li class="disabled"><a>Topic List</a></li>
                </ul>
            </div>
            <button onclick="window.location=window.util.mobileUrl('{% url "createThreadWithoutTopic" %}')" type="button" class="btn btn-secondary">New Thread <i class="fas fa-pen"></i></button>
        </div>
        <div class="btn-group discussion-toolbar" role="group" aria-label="Discussion Toolbar">
            <button onclick="$('#topic-form-wrapper').toggleClass('hidden')" type="button" class="btn btn-secondary">New Topic</button>
        </div>
        </div>

        <div id="topic-form-wrapper" class="{% if not showForm %} hidden {% endif %} row">
            <div class="col-sm-5">
                {% crispy topicForm %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div>
        <ul class="list-group">
            {% for topic in topics %}
                {% include 'djeddit/topic_item.html' %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'djeddit/js/util.js' %}"></script>
    <script type="text/javascript">
        window.updateCanGoBack(false);
    </script>
{% endblock %}