<!DOCTYPE html>
{% extends BASE_TEMPLATE %}
{% load staticfiles %}
{% load djeddit_tags %}
{% load crispy_forms_tags %}
{% block title %}
    <h2 id="pageTitle">Topics</h2>
    {% if user.is_superuser %}
        <div class="btn-group discussion-toolbar" role="group" aria-label="Discussion Toolbar">
            <button onclick="$('#topic-form-wrapper').toggleClass('hidden')" type="button" class="btn btn-secondary">New Topic</button>
        </div>

        <div id="topic-form-wrapper" class="{% if not showForm %} hidden {% endif %} row">
            <div class="col-sm-5">
                {% crispy topicForm %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div>
        <ul class="list-group">
            {% for topic in topics %}
                {% include 'djeddit/topic_item.html' %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'djeddit/js/util.js' %}"></script>
{% endblock %}