<!DOCTYPE html>
{% extends "djeddit/user_page.html" %}
{% load djeddit_tags %}
{% block navtabs %}
    <li role="presentation" class="active"><a href="#">Summary</a></li>
{#    <li role="presentation"><a href="{% url 'userThreads' pageUser.display_name %}">Threads</a></li>#}
{#    <li role="presentation"><a href="{% url 'userReplies' pageUser.display_name %}">Replies</a></li>#}
    <li role="presentation"><a href="{% url 'userThreads' pageUser.pk %}">Threads</a></li>
    <li role="presentation"><a href="{% url 'userReplies' pageUser.pk %}">Replies</a></li>
{% endblock %}
{% block groupItems %}
    {# list of threads & comments by date #}
    {% with True as showTopic %}
        <h2>User topics</h2>
        {% for item in threads %}
            {% with item as thread %}
                {% include 'djeddit/thread_item.html' %}
            {% endwith %}
        {% endfor %}
        <h2>User comments</h2>
        {% for item in replies %}
            {% with item as reply %}
                {% include 'djeddit/user_reply_item.html' %}
            {% endwith %}
        {% endfor %}

{#        {% for item in items %}#}
{#            {% if item.getName == 'Thread' %}#}
{#                {% with item as thread %}#}
{#                    {% include 'djeddit/thread_item.html' %}#}
{#                {% endwith %}#}
{#            {% elif item.getName == 'Post' %}#}
{#                {% with item as reply %}#}
{#                    {% include 'djeddit/user_reply_item.html' %}#}
{#                {% endwith %}#}
{#            {% endif %}#}
{#        {% endfor %}#}
    {% endwith %}
{% endblock %}
{% block sideContent %}
    {# User statistics #}
    <div class="bs-callout" style="margin-top: 0">
        {# list number of comments, number of threads , totoal thread points, total reply points #}
        <div class="row">
            <div class="col-md-6">
                <h5>{% getAmount tCount 'thread' %}</h5>
                <h5>{% getAmount rCount 'reply' %}</h5>
            </div>
            <div class="col-md-6">
                <h5>{% getAmount tPoints 'point' infix='thread' %}</h5>
                <h5>{% getAmount rPoints 'point' infix='reply' %}</h5>
            </div>
        </div>
        {# TODO: list user creation date, last activity date #}
    </div>
{% endblock %}