{% extends "navbar.html" %}

{% block extrahead %}
{% include 'meta/meta.html' %}
{% load staticfiles %}
{% include 'djeddit/base_stylesheets.html' %}
{% endblock %}

{% block body_content %}

<div class="body">
    <!-- Content -->
    <div id="main" class="container theme-showcase" role="main">
        {% block title %}{% endblock %}
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
	<footer>
        <div class="navbar navbar-fixed-bottom">
            <div class="container">
                <p><a href="/discussion">Home</a>
                {% if user.is_superuser %}
                    | <a href="{% url 'usersPage' %}">Users</a>
                {% endif %}
                    | <a href="/curriculum">Return to Physics is Beautiful</a>
                </p>
            </div>
        </div>
	</footer>

    	<!-- Bootstrap core JavaScript
	================================================== -->
    <link rel="stylesheet" href="{% static 'djeddit/bower_components/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'djeddit/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'djeddit/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="{% static 'djeddit/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'djeddit/css/callout.css' %}">

    {% include 'djeddit/base_scripts.html' %}
    {% block scripts %}{% endblock %}
</div>

<script type="text/javascript">
    window.BASE_URL = "http://{{ request.get_host }}";
		{% if user.is_superuser %}
		window.USER_URLS ={
		'setUserStatus':"{% url 'setUserStatus' %}"
	};
		{% endif %}
</script>

{% endblock %}
